<h1>Demo - Medes Filter Components</h1>
<p>Clone repository to get source code <a href="https://github.com/mediadesain/medes-ui-boilerplate">here</a>.</p>
<hr/>

<div class="mds-grid">
    <!-- SIDEBAR CONTENT -->
    <div class="g-l-30">
        <input #name="ngModel" [ngModelOptions]="{ updateOn: 'submit' }" ngModel placeholder="Search Name" style="width: 100%; margin-bottom: 1em;" />
        <!-- Demo Filter Checkboxes Component - Multiple Group -->
        <mds-filter-checkbox
            [titlegroup]="'Filter by'"
            [filterData]="sampledata"
            [filterBy]="['gender','category']"
            [filterSelected]="selected"
            [reset]="'✕'"
            [hideCounter]="false"
        ></mds-filter-checkbox>

        <!-- Demo Filter Swatch Component -->
        <mds-filter-swatch
            [titlegroup]="'Filter by Color'"
            [filterData]="sampledata"
            [filterBy]="'color'"
            [filterSelected]="selected"
            [swatchMapping]="colormap"
        ></mds-filter-swatch>
        
        <!-- Demo Filter Checkboxes Component - Single Group -->
        <mds-filter-checkbox
            [filterData]="sampledata"
            [filterBy]="['brand']"
            [filterSelected]="selected"
            [hideCounter]="true"
        ></mds-filter-checkbox>

        <!-- Demo Reset Filter Component -->
        <mds-filter-reset [content]="'Reset All'" [(filterSelected)]="selected"></mds-filter-reset>
    </div>
    <!-- MAIN ITEMS CONTENT -->
    <div class="g-l-70">
        <div style="text-align: center;">
            <small *ngIf="(sampledata|mdsFilter:selected|mdsSearch:{propertyKey:'name', keyword:name.value}).length === 0 && (selected|json) ==='{}'">No Data Found</small>
            <small *ngIf="(sampledata|mdsFilter:selected|mdsSearch:{propertyKey:'name', keyword:name.value}).length === 0 && (selected|json) !=='{}'">Filtered data not found</small>
        </div>
        <div class="mds-grid horizontal-center">
            <!-- Demo mdsFilter & mdsSearch Pipes-->
            <div class="g-s-50 g-m-30 g-l-25" *ngFor="let item of (sampledata|mdsFilter:selected|mdsSearch:{propertyKey:'name', keyword:name.value})">
                <!-- Image with MedesUI Image Loader Element-->
                <div class="mds-img-loader square">
                    <img [src]="item.picture" [alt]="item.name">
                </div>
                <small>{{item.brand|titlecase}} - {{item.category}}</small><br/>
                <b>{{item.name}}</b><br/>
                <small>({{item.color}})</small>
            </div>
        </div>
    </div>
</div>
