<h1>Medes Modal Component</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque finibus condimentum nisl id vulputate. Praesent aliquet varius eros interdum suscipit. Donec eu purus sed nibh convallis bibendum quis vitae turpis.</p>
<hr/>

<h2>Sample Modal Components</h2>
<div class="margin-b-2">
    <mds-demo-modal></mds-demo-modal>
</div>

<h2>Generator</h2>
<div class="margin-b-2">
    <!-- Button Modal -->
    <button class="btn-swatch-a" (click)="openModal('my-modal-1')">Overview Modal</button> <i> (Generator Soon)</i>
    <!-- Simple Sample Modal -->
    <mds-modal id="my-modal-1" [modalWidth]="'medium'" [hideCloseButton]="false" [disableCloseBackdrop]="false">
        <div class="padding-1">
            <h3 class="padding-b-1">Simple Modal Sample</h3>
            <p>Curabitur sem sapien, vestibulum non tincidunt semper, ullamcorper a ante. Morbi tempor sem nec facilisis efficitur. Nam vel quam malesuada, dignissim leo id, eleifend tortor. Etiam in rutrum elit.</p>
            <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce et dolor quis sem porta feugiat ut sed neque. Sed sit amet eros sem. In malesuada eleifend erat, nec pulvinar elit dictum in. Donec eget erat eu erat ornare rutrum. Curabitur et varius neque. Nulla ultricies vel ligula pretium semper.</p>
        </div>
    </mds-modal>
</div>

<h2>Code</h2>
<div class="mds-grid">
    <div class="g-m-30">
        <b>Module</b>
        <mds-hightlight-prism [code]="importModuleCode" language="javascript"></mds-hightlight-prism>
    </div>
    <div class="g-m-40">
        <b>Component</b>
        <mds-hightlight-prism [code]="component" language="javascript"></mds-hightlight-prism>
    </div>
    <div class="g-m-30">
        <b>HTML</b>
        <mds-hightlight-prism [code]="html" language="html"></mds-hightlight-prism>
    </div>
</div>

<hr/>

<b>Properties</b>
<table class="mds-table">
    <tr>
        <th>Attribute</th><th>Data Type</th><th>Default</th><th>Description</th><th style="min-width: 200px;">Support Version</th>
    </tr>
    <tr *ngFor="let item of [
        {attribute: 'id', type: 'string', default: '∞', description: 'id modal is required for identify which modal to trigger', version: 'medes-ui@1.14.0 >'},
        {attribute: 'modalWidth?', type: 'string of option: <i>\'small\'|\'medium\'|\'large\'|\'fullscreen\'</i> or number', default: '\'medium\'', description: 'Width of modal by default is medium (700px) but posible with custom width. If set as \'fullscreen\' wil set height & width fullscreen', version: 'medes-ui@1.14.0 >'},
        {attribute: 'marginTop?', type: 'number', default: '44', description: 'Padding top modal', version: 'medes-ui@1.14.0 >'},
        {attribute: 'marginBottom?', type: 'number', default: '44', description: 'Padding bottom modal', version: 'medes-ui@1.14.0 >'},
        {attribute: 'borderRadius?', type: 'number', default: '5', description: 'Border radius size', version: 'medes-ui@1.14.0 >'},
        {attribute: 'hideCloseButton?', type: 'boolean', default: 'false', description: 'Visibility of close button', version: 'medes-ui@1.14.0 >'},
        {attribute: 'disableCloseBackdrop?', type: 'boolean', default: 'false', description: 'Disable closing modal if clicking backdrop', version: 'medes-ui@1.14.0 >'},
    ]">
        <td mds-th-title="Attribute" [innerHTML]="item.attribute"></td>
        <td mds-th-title="Data Type" [innerHTML]="item.type"></td>
        <td mds-th-title="Default" [innerHTML]="item.default"></td>
        <td mds-th-title="Description" [innerHTML]="item.description"></td>
        <td mds-th-title="Support Version" [innerHTML]="item.version"></td>
    </tr>
</table>
<small>
    <b>Notes:</b>
    <br/><i>? = Is optional value, if no value will use default value.</i>
    <br/><i>∞ = No default value, put anything base on type</i>
</small>