<h1>Testing & Research Page</h1>
<p>Clone repository to get source code <a href="https://github.com/mediadesain/medes-ui-boilerplate">here</a>.</p>
<hr/>

<!-- <mds-toggle-button [(checked)]="isActive"></mds-toggle-button> - {{isActive}}
<br/>
<mds-input-number class="form-control" [(value)]="testValue"></mds-input-number> - {{testValue}}
<hr/> -->



<div class="fullfill-horizontal flex-horizontal justify-center align-middle" style="flex-wrap: unset;">
    <div #listenBox class="navigation">
        <ng-container *ngFor="let item of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]">
            <button>{{item}}</button>
        </ng-container>
    </div>
</div>