<h1>Color Utils</h1>
<p>Section intro goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque finibus condimentum nisl id vulputate. Praesent aliquet varius eros interdum suscipit. Donec eu purus sed nibh convallis bibendum quis vitae turpis. Duis vestibulum diam lorem, vitae dapibus nibh facilisis a. Fusce in malesuada odio.</p>
<hr/>

<b>Import MdsStringUtils:</b>
<mds-hightlight-prism [code]="import" language="typescript"></mds-hightlight-prism>
<br/>

<b>String utils details:</b>
<table class="mds-table">
    <tr>
        <th>Function and data Type</th><th>Data Type</th><th>Default Value</th><th>Description</th>
    </tr>
    <tr *ngFor="let item of [
        {attribute: 'rgbToHex( <b>Array</b> )', 'value':'<ul><li>Array of number</li></ul>', 'default': '∞', description: '<ul><li>Sample number of r, g, b.</li></ul>'},
        {attribute: 'hexToRgba( <b>String</b>, <b>number?</b> )', 'value':'<ul><li>string</li><li>number</li></ul>', 'default': '<ul><li>∞</li><li>1</li></ul>', description: '<ul><li>Sample hex color</li><li>Opacity range between 0 - 1</li></ul>'},
        {attribute: 'addDarkLight( <b>String</b>, <b>number</b> )', 'value':'<ul><li>string</li><li>number</li></ul>', 'default': '<ul><li>∞</li><li>∞</li></ul>', description: '<ul><li>Sample string to Title Case</li><li>Add positif number for lighter or negative for brighter color</li></ul>'}
    ]">
        <td mds-th-title="Function"><span [innerHTML]="item.attribute"></span></td>
        <td mds-th-title="Data Type"><span [innerHTML]="item.value"></span></td>
        <td mds-th-title="Default Value"><span [innerHTML]="item.default"></span></td>
        <td mds-th-title="Description"><span [innerHTML]="item.description"></span></td>
    </tr>
</table>
<small>
    <b>Notes:</b>
    <br/><i>? = Is optional value, if no value will use default value.</i>
    <br/><i>∞ = Anything base on type</i>
</small>
<hr/>

<b>Output:</b>
<mds-hightlight-prism [code]="demo" language="typescript"></mds-hightlight-prism>