<!-- <mds-alert-soon [version]="'v.0.0.3'"></mds-alert-soon> -->
<h1>Medes Filter Components</h1>
<p>Multiple filter checkbox components is automatically generate HTML Element filter per group base on sampledata and props/keys & support url query param. There are 3 categoires:</p>
<ul>
    <li>Filter Checkbox Component <i><small>&lt;mds-filter-checkbox ... &gt;&lt;/mds-filter-checkbox&gt;</small></i></li>
    <li>Filter Swatch Component <i><small>&lt;mds-filter-swatch ... &gt;&lt;/mds-filter-swatch&gt;</small></i></li>
    <li>Filter Range Slider Component <i><small>&lt;mds-filter-range-slider ... &gt;&lt;/mds-filter-range-slider&gt;</small></i><span class="new-beadge margin-l-1">New</span></li>
    <li>Reset Filter Component <i><small>&lt;mds-filter-reset ... &gt;&lt;/mds-filter-reset&gt;</small></i></li>
</ul>
<p>Put sample data, key to filter and selected filter object. Put selected filter object to *ngFor loop to <a [routerLink]="'/pipe/filter'">filter pipe</a> from medes-ui.</p>
<hr/>

<h2 class="margin-t-1">Installation</h2>
<p>Import Medes Filter Module</p>
<mds-hightlight-prism [code]="importmodule" language="typescript"></mds-hightlight-prism>
<hr/>

<h2>Overview of Medes Filter Components</h2>
<p>Sample all of filter components:</p>

<p><b>Checkbox Component</b></p>
<div class="mds-grid margin-b-0">
    <div class="g-l-30">
        <mds-filter-checkbox
            [titlegroup]="'Filter by Category'"
            [filterData]="sampledata"
            [filterBy]="'category'"
            [filterSelected]="selected"
            [reset]="'✕'"
            [hideCounter]="false"
        ></mds-filter-checkbox>
    </div>
    <div class="g-l-70"><mds-hightlight-prism [code]="checkboxComponent" language="html"></mds-hightlight-prism></div>
    <div class="g-l-12"><small><a routerLink="/filter-components/checkboxes">More Info</a></small></div>
</div>
<hr/>

<p><b>Swatch Component</b></p>
<div class="mds-grid margin-b-0">
    <div class="g-l-30">
        <mds-filter-swatch
            [titlegroup]="'Filter by Color'"
            [filterData]="sampledata"
            [filterSelected]="selected"
            [filterBy]="'color'"
            [swatchMapping]="colormap"
            [swatchSize]="30"
            [swatchRadius]="25"
        ></mds-filter-swatch>
    </div>
    <div class="g-l-70"><mds-hightlight-prism [code]="swatchComponent" language="html"></mds-hightlight-prism></div>
    <div class="g-l-12"><small><a routerLink="/filter-components/swatch">More Info</a></small></div>
</div>
<hr/>

<p><b>Range Slider Component</b> <span class="new-beadge margin-l-1">New</span></p>
<div class="mds-grid margin-b-0">
    <div class="g-l-30">
        <mds-filter-range-slider
            [label]="'Filter by something'"
            [min]="filterRangeSelected.min"
            [max]="filterRangeSelected.max"
            [(start)]="filterRangeSelected.start"
            [(end)]="filterRangeSelected.end"
            [disabled]="false"
        ></mds-filter-range-slider>
    </div>
    <div class="g-l-70"><mds-hightlight-prism [code]="rangeSliderComponent" language="html"></mds-hightlight-prism></div>
    <div class="g-l-12"><small><a routerLink="/filter-components/range-slider">More Info</a></small></div>
</div>
<hr/>

<p><b>Reset Component</b></p>
<div class="mds-grid">
    <div class="g-l-30"><mds-filter-reset [content]="'Reset All'" [(filterSelected)]="selected" [(filterRangeSelected)]="filterRangeSelected"></mds-filter-reset></div>
    <div class="g-l-70"><mds-hightlight-prism [code]="resetComponent" language="html"></mds-hightlight-prism></div>
    <div class="g-l-12"><small><a routerLink="/filter-components/reset">More Info</a></small></div>
</div>

<p><i>Variable <b>sampledata</b> values is <a href="https://github.com/mediadesain/medes-ui-boilerplate/blob/main/src/app/shared/constant/products.ts">constant/proucts.ts</a>.</i></p>

<p><b>Output:</b></p>
<mds-hightlight-prism [code]="'
// Output filter Object
selected ='+(selected|json)+'
filterRangeSelected ='+(filterRangeSelected|json)+'
// Output is useable for filering data item with MdsFilter (*ngFor=\'let data of sampledata|mdsFilter:selected|mdsFilterRange:param\')'" language="javascript"></mds-hightlight-prism>

