/* Custom Color Swatch */
/*-- Light Mode --*/
:root {/*-- swatch-c --*/
    --swatch-c-transculant: rgba(233,138,53,0.3);
    --swatch-c-lighter: #ffa853;
    --swatch-c: #e98a35;
    --swatch-c-darker: #cb6c17;
    --swatch-c-contrast: #ffffff;
    // add more here
}

/*-- Dark Mode --*/
@media (prefers-color-scheme: dark) {
  :root {/*-- swatch-c --*/
    --swatch-c-transculant: rgba(233,138,53,0.3);
    --swatch-c-lighter: #ffa853;
    --swatch-c: #e98a35;
    --swatch-c-darker: #cb6c17;
    --swatch-c-contrast: #ffffff;
    // add more here
  }
}

/* Custom Class */
.bg-swatch-c {background: var(--swatch-c);}
.txt-swatch-c {color: var(--swatch-c);}
.btn-swatch-c {background: var(--swatch-c); color: var(--swatch-c-contrast);}
.btn-swatch-c:hover {background: var(--swatch-c-lighter);}
.btn-swatch-c:disabled, .btn-swatch-c[disabled] {background: var(--swatch-c-darker);}
// add more here