/*-public-mode-*/ @import "../../../node_modules/medes-ui/assets/scss/layouts/documentation";
//*-dev-mode-*/ @import "../../../projects/medes-ui/assets/scss/layouts/documentation";
navbar .logo, mds-navbar .logo { background-image: url('../images//medes-ui.png'); }
@media (prefers-color-scheme: dark) {
    mds-navbar .logo { background-image: url('../images/medes-ui-dark.png'); }
}

/* -- Table Properties */
.table-properties a {
    cursor: pointer;
}
.table-properties td:nth-child(1) b {
    font-family: monospace;
    font-size: small;
}
.table-properties td:nth-child(2) {
    font-family: monospace;
    font-size: small;
}
.table-properties td:nth-child(5) {
    font-size: 12px;
}