<h1>String Utils</h1>
<p>Section intro goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque finibus condimentum nisl id vulputate. Praesent aliquet varius eros interdum suscipit. Donec eu purus sed nibh convallis bibendum quis vitae turpis. Duis vestibulum diam lorem, vitae dapibus nibh facilisis a. Fusce in malesuada odio.</p>
<hr/>

<b>Import MdsStringUtils:</b>
<small><mds-hightlight-prism [code]="import" language="typescript"></mds-hightlight-prism></small>
<br/>

<b>String utils details:</b>
<table>
    <tr>
        <th>Function and data Type</th><th>Sample Value</th><th>Description</th>
    </tr>
    <tr *ngFor="let item of [
        {'attribute':'lowerCase( <b>string</b> )', 'value':'<ul><li>This Is String</li></ul>', 'description':'<ul><li>Sample string to Lower Case</li></ul>'},
        {'attribute':'upperCase( <b>string</b> )', 'value':'<ul><li>this is string</li></ul>', 'description':'<ul><li>Sample string to Upper Case</li></ul>'},
        {'attribute':'titleCase( <b>string</b> )', 'value':'<ul><li>this is string</li></ul>', 'description':'<ul><li>Sample string to Title Case</li></ul>'},
        {'attribute':'pascalCase( <b>string</b> )', 'value':'<ul><li>this is string</li></ul>', 'description':'<ul><li>Sample string to Pascal Case</li></ul>'},
        {'attribute':'randomCharacter( <b>number</b> )', 'value':'<ul><li>20</li></ul>', 'description':'<ul><li>Total character to create randomstring</li></ul>'},
        {'attribute':'convertToSlug( <b>string</b> )', 'value':'<ul><li>This Url url $string & have symbol@#%</li></ul>', 'description':'<ul><li>Sample string to convert as slug url</li></ul>'},
        {'attribute':'getYoutubeID( <b>string</b> )', 'value':'<ul><li>https://www.youtube.com/watch?v=L8Zs8WnLerw</li></ul>', 'description':'<ul><li>Youtube url</li></ul>'},
        {'attribute':'getYoutubeEmbed( <b>string</b> )', 'value':'<ul><li>https://www.youtube.com/watch?v=L8Zs8WnLerw</li></ul>', 'description':'<ul><li>Youtube url</li></ul>'},
        {'attribute':'getYoutubeThumbnail( <b>string</b>, <b>string?</b> )', 'value':'<ul><li>https://www.youtube.com/watch?v=L8Zs8WnLerw</li><li>Option:<br/><i>0 | 1 | 2 | 3 | default | sd1 | sd2 | sd3 | sddefault | mq1 | mq2 | mq3 | mqdefault | hq1 | hq2 | hq3 | <b>hqdefault</b> | hq720 | maxres1 | maxres2 | maxres3 | maxresdefault</i></li></ul>', 'description':'<ul><li>Youtube url</li><li>Size url</li></ul>'}
    ]">
        <td mds-th-title="Function"><span [innerHTML]="item.attribute"></span></td>
        <td mds-th-title="Sample Value"><span [innerHTML]="item.value"></span></td>
        <td mds-th-title="Description"><span [innerHTML]="item.description"></span></td>
    </tr>
</table>
<small>
    <b>Notes:</b><br/><i>? = Is optional value, if no value will use default value.</i>
</small>
<hr/>

<b>Output:</b>
<small><mds-hightlight-prism [code]="demo" language="typescript"></mds-hightlight-prism></small>