
<h1>Medes Modal Component</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque finibus condimentum nisl id vulputate. Praesent aliquet varius eros interdum suscipit. Donec eu purus sed nibh convallis bibendum quis vitae turpis.</p>
<hr/>

<h2 class="margin-t-1">Installation</h2>
<p>Import Medes Modal Module</p>
<mds-hightlight-prism [code]="importmodule" language="typescript"></mds-hightlight-prism>
<hr/>

<h2 class="margin-b-1">Overview Components of Medes Filter</h2>
<div class="mds-grid">
    <div class="g-l-25">
        <button (click)="openModal('my-modal-1')">Open Simple Modal</button>
        <!-- Simple Sample Modal -->
        <mds-modal id="my-modal-1" [modalWidth]="'medium'" [hideCloseButton]="false" [disableCloseBackdrop]="false">
            <div class="padding-1">
                <h3 class="padding-b-1">Sample Modal Sample</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tristique nec dui sit amet sodales. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean massa augue, varius nec velit et, fermentum eleifend purus. Integer porta eros et risus mattis ultricies. Phasellus enim neque, finibus sed tempor at, pretium nec nulla. Pellentesque eget gravida lorem. Cras non volutpat urna. Phasellus nec quam mattis, euismod turpis ac, pulvinar enim. Proin lacinia felis nulla, ut convallis felis lacinia eget. Duis sed consectetur dui, eu dictum elit. Donec ut suscipit diam. Vestibulum nec ex a arcu rutrum vulputate ut eu lacus.</p>
                <p>Curabitur sem sapien, vestibulum non tincidunt semper, ullamcorper a ante. Morbi tempor sem nec facilisis efficitur. Nam vel quam malesuada, dignissim leo id, eleifend tortor. Etiam in rutrum elit.</p>
                <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce et dolor quis sem porta feugiat ut sed neque. Sed sit amet eros sem. In malesuada eleifend erat, nec pulvinar elit dictum in. Donec eget erat eu erat ornare rutrum. Curabitur et varius neque. Nulla ultricies vel ligula pretium semper.</p>
            </div>
        </mds-modal>
    </div>
    <div class="g-l-75">
        <mds-hightlight-prism [code]="html" language="html"></mds-hightlight-prism>
    </div>
</div>
<a routerLink="/modal-component/detail">More Info</a>
