<h1>MedesUI versioning and releases</h1>
<p>Section intro goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque finibus condimentum nisl id vulputate. Praesent aliquet varius eros interdum suscipit. Donec eu purus sed nibh convallis bibendum quis vitae turpis. Duis vestibulum diam lorem, vitae dapibus nibh facilisis a. Fusce in malesuada odio.</p>
<hr/>


<b>Supported Version:</b>
<p class="margin-b-0">^x.x.x <i>(Major.Minor.Patch)</i></p>
<ul class="margin-t-0">
    <li>Major version is current version of MedesUI</li>
    <li>Minor version is angular version used for this library</li>
    <li>Patch version is related new update feature & bug fix</li>
</ul>
<table class="mds-table">
    <tr>
        <th>Version</th><th>Status</th><th>Released</th><th>End LTS</th>
    </tr>
    <!--{ version: '^1.13.6', status: 'LTS', released: '2024-09-30', endReleased: '2024-12-31' }, -->
    @for (item of [
        { version: '^1.17.1', status: 'Active', released: '2025-06-13', endReleased: '2025-09-30' },
        { version: '^1.16.0', status: 'LTS', released: '2025-06-12', endReleased: '2025-09-30' },
        { version: '^1.15.3', status: 'LTS', released: '2025-06-10', endReleased: '2025-06-30' },
        { version: '^1.14.3', status: 'Deprecated', released: '2023-12-05', endReleased: '2024-12-31' }
    ]; track $index) {
        <tr>
            <td mds-th-title="Version" [innerHTML]="item.version"></td>
            <td mds-th-title="Status" [innerHTML]="item.status"></td>
            <td mds-th-title="Released" [innerHTML]="item.released"></td>
            <td mds-th-title="End LTS" [innerHTML]="item.endReleased"></td>
        </tr>
    }
</table>
<small>medes-ui v.0.0.1 to v.0.0.3 are no longger supported</small>
