<h1>Demo - Components, Pipes, Services</h1>
<p>On this demo useing Medes Filter Components <i>(checkbox, swatch, range slider & reset components)</i>, Medes Pipe <i>(mdsFilter, mdsFilterRange, mdsSearch)</i>. Clone repository to get source code <a href="https://github.com/mediadesain/medes-ui-boilerplate">here</a>.</p>
<hr/>

<div class="mds-grid">
    <!-- SIDEBAR CONTENT -->
    <div class="g-l-25">
        <input #name="ngModel" [ngModelOptions]="{updateOn:'change'}" ngModel placeholder="Search Name" style="width: 100%; margin-bottom: 1em;" />
        <!-- Demo Filter Checkboxes Component -->
        <mds-filter-checkbox id="gender" [data]="data" [model]="mdsFilterModel"></mds-filter-checkbox>
        <mds-filter-checkbox id="category" [data]="data" [model]="mdsFilterModel"></mds-filter-checkbox>
        <!-- Demo Filter Range Slider Component -->
        <mds-filter-range-slider id="price" [model]="mdsFilterModel"></mds-filter-range-slider>
        <!-- Demo Filter Swatch Component -->
        <mds-filter-swatch id="color" [data]="data" [model]="mdsFilterModel"></mds-filter-swatch>
        <!-- Demo Filter Checkboxes Component -->
        <mds-filter-checkbox id="brand" [model]="mdsFilterModel" [data]="data"></mds-filter-checkbox>
        <!-- Demo Reset Filter Component -->
        <mds-filter-reset customClass="btn-swatch-a" [(model)]="mdsFilterModel">Reset All</mds-filter-reset>
        <pre>{{mdsFilterModel|json}}</pre>
    </div>
    <!-- MAIN ITEMS CONTENT -->
    <div class="g-l-75">
        <!-- Item Counter -->
        <div class="fullfill-horizontal flex-horizontal justify-between align-middle">
            <small>Total {{(data|mdsFilter:mdsFilterModel.data.filterSelected|mdsFilterRange: {propertyKey: 'price', range: mdsFilterModel.data.filterRange} |mdsSearch:{propertyKey:'name', keyword:name.value}).length}} item/s</small>
            <div>
                <small>Show Item </small>
                <!-- Demo Page Counter Component -->
                <mds-page-counter [(model)]="pageNavConfig"></mds-page-counter>
            </div>
        </div>

        <!-- Filtering Message Element -->
        <div style="text-align: center;">
            @if ( ( data
                |mdsFilter:mdsFilterModel.data.filterSelected
                |mdsFilterRange: {propertyKey: 'price', range: mdsFilterModel.data.filterRange}
                |mdsSearch:{propertyKey:'name', keyword:name.value} ).length === 0 && (mdsFilterModel.data.filterSelected|json) ==='{}' ) {
                <small>No Data Found</small>
            }
            @if ( ( data
                |mdsFilter:mdsFilterModel.data.filterSelected
                |mdsFilterRange: {propertyKey: 'price', range: mdsFilterModel.data.filterRange}
                |mdsSearch:{propertyKey:'name', keyword:name.value} ).length === 0 && (mdsFilterModel.data.filterSelected|json) !=='{}'){
                <small>Filtered data not found</small>
            }
        </div>

        <!-- Content Element -->
        <div class="mds-grid horizontal-center">
            <!-- Demo Medes Pipes like mdsFilter, mdsFilterRange & mdsSearch Pipes -->
            <div class="g-s-50 g-m-30 g-l-25" *ngFor="let item of ( data
                |mdsFilter:mdsFilterModel.data.filterSelected
                |mdsFilterRange: {propertyKey: 'price', range: mdsFilterModel.data.filterRange}
                |mdsSearch:{propertyKey:'name', keyword:name.value}
                |slice: pageNavConfig.data?.selectedRange.start:pageNavConfig.data?.selectedRange.end )">
                <div class="mds-img-loader square">
                    <img [src]="item.picture" [alt]="item.name">
                </div>
                <small>{{item.brand|titlecase}} - {{item.category}}</small><br/>
                <b>{{item.name}}</b><br/>
                <small>({{item.color}})</small><br/>
                <small>{{item.price}}</small>
            </div>
        </div>
        
        <!-- Pager Element -->
        <div style="margin: auto;width: max-content;">
            @if ((data |mdsFilter:mdsFilterModel.data.filterSelected |mdsFilterRange: {propertyKey: 'price', range: mdsFilterModel.data.filterRange} |mdsSearch:{propertyKey:'name', keyword:name.value}).length > 0) {
                <!-- Demo Page Navigation Component -->
                <mds-page-navigation
                    [data]="(
                        data |mdsFilter:mdsFilterModel.data.filterSelected
                        |mdsFilterRange: {propertyKey: 'price', range: mdsFilterModel.data.filterRange}
                        |mdsSearch:{propertyKey:'name', keyword:name.value}
                    )"
                    [(model)]="pageNavConfig">
                </mds-page-navigation>
            }
        </div>
    </div>
</div>