<h1>Demo - Components, Pipes, Services</h1>
<p>On this demo useing Medes Filter Components <i>(checkbox, swatch, range slider & reset components)</i>, Medes Pipe <i>(mdsFilter, mdsFilterRange, mdsSearch)</i>. Clone repository to get source code <a href="https://github.com/mediadesain/medes-ui-boilerplate">here</a>.</p>
<hr/>

<div class="mds-grid">
    <!-- SIDEBAR CONTENT -->
    <div class="g-l-30">
        <input #name="ngModel" [ngModelOptions]="{updateOn:'change'}" ngModel placeholder="Search Name" style="width: 100%; margin-bottom: 1em;" />
        <!-- Demo Filter Checkboxes Component - Multiple Group -->
        <mds-filter-checkbox
            [titlegroup]="'Filter by Gender'"
            [filterData]="sampledata"
            [filterBy]="'gender'"
            [filterSelected]="filterSelected"
            [reset]="'✕'"
            [hideCounter]="false"
        ></mds-filter-checkbox>
        <mds-filter-checkbox
            [titlegroup]="'Filter by Category'"
            [filterData]="sampledata"
            [filterBy]="'category'"
            [filterSelected]="filterSelected"
            [reset]="'✕'"
            [hideCounter]="false"
        ></mds-filter-checkbox>

        <!-- Demo Filter Range Slider Component -->
        <mds-filter-range-slider
            [label]="'Filter by price'"
            [min]="filterRangeSelected.min"
            [max]="filterRangeSelected.max"
            [(start)]="filterRangeSelected.start"
            [(end)]="filterRangeSelected.end">
        </mds-filter-range-slider>

        <!-- Demo Filter Swatch Component -->
        <mds-filter-swatch
            [titlegroup]="'Filter by Color'"
            [filterData]="sampledata"
            [filterBy]="'color'"
            [filterSelected]="filterSelected"
            [swatchMapping]="colormap"
        ></mds-filter-swatch>
        
        <!-- Demo Filter Checkboxes Component - Single Group -->
        <mds-filter-checkbox
            [titlegroup]="'Filter by Brand'"
            [filterData]="sampledata"
            [filterBy]="'brand'"
            [filterSelected]="filterSelected"
            [hideCounter]="true"
        ></mds-filter-checkbox>

        <!-- Demo Reset Filter Component -->
        <mds-filter-reset [content]="'Reset All'" [(filterSelected)]="filterSelected" [(filterRangeSelected)]="filterRangeSelected"></mds-filter-reset>
    </div>
    <!-- MAIN ITEMS CONTENT -->
    <div class="g-l-70">
        <div class="fullfill-horizontal flex-horizontal justify-between margin-b-1">
            <small>Total {{(sampledata|mdsFilter:filterSelected|mdsFilterRange: {propertyKey: 'price', range: filterRangeSelected} |mdsSearch:{propertyKey:'name', keyword:name.value}).length}} item/s</small>
            <div>
                <small>Show Item </small>
                <mds-page-counter [pageCountConfig]="[4, 8, 16, 24]" [(pageNavConfig)]="pageNavConfig"></mds-page-counter>
            </div>
        </div>
        <div style="text-align: center;">
            <small *ngIf="( sampledata
                |mdsFilter:filterSelected
                |mdsFilterRange: {propertyKey: 'price', range: filterRangeSelected}
                |mdsSearch:{propertyKey:'name', keyword:name.value} ).length === 0 && (filterSelected|json) ==='{}'">
                No Data Found
            </small>
            <small *ngIf="( sampledata
                |mdsFilter:filterSelected
                |mdsFilterRange: {propertyKey: 'price', range: filterRangeSelected}
                |mdsSearch:{propertyKey:'name', keyword:name.value} ).length === 0 && (filterSelected|json) !=='{}'">
                Filtered data not found
            </small>
        </div>
        <div class="mds-grid horizontal-center">
            <!-- Demo Medes Pipes like mdsFilter, mdsFilterRange & mdsSearch Pipes -->
            <div class="g-s-50 g-m-30 g-l-25" *ngFor="let item of ( sampledata
                    |mdsFilter:filterSelected
                    |mdsFilterRange: {propertyKey: 'price', range: filterRangeSelected}
                    |mdsSearch:{propertyKey:'name', keyword:name.value}
                    |slice: pageNavConfig.selectedRange?.start:pageNavConfig.selectedRange?.end )">
                <div class="mds-img-loader square">
                    <img [src]="item.picture" [alt]="item.name">
                </div>
                <small>{{item.brand|titlecase}} - {{item.category}}</small><br/>
                <b>{{item.name}}</b><br/>
                <small>({{item.color}})</small><br/>
                <small>{{item.price}}</small>
            </div>
        </div>
        <!-- Page Navigation Component -->
        <div style="margin: auto;width: max-content;">
            <ng-container *ngIf="(sampledata |mdsFilter:filterSelected |mdsFilterRange: {propertyKey: 'price', range: filterRangeSelected} |mdsSearch:{propertyKey:'name', keyword:name.value}).length > 0">
                <mds-page-navigation
                    [data]="(
                        sampledata |mdsFilter:filterSelected
                        |mdsFilterRange: {propertyKey: 'price', range: filterRangeSelected}
                        |mdsSearch:{propertyKey:'name', keyword:name.value}
                    )"
                    [(pageNavConfig)]="pageNavConfig"></mds-page-navigation>
            </ng-container>
        </div>
    </div>
</div>