<h1>Boilerplate Medes Doc</h1>
<p>Clone repository to get source code <a href="https://github.com/mediadesain/medes-ui-boilerplate/blob/main/src/app/pages/demo-ui-elements/demo-basic-elements/demo-basic-elements.component.html" target="_blank">here</a>.</p>
<hr/>

<h2>Paragraph</h2>
<p>Section <b>intro</b> goes here. <a href="">Lorem ipsum</a> dolor sit amet, <i>consectetur adipiscing</i> elit. Quisque finibus condimentum nisl id vulputate. Praesent aliquet varius eros interdum suscipit. Donec eu purus sed nibh convallis bibendum quis vitae turpis. Duis vestibulum diam lorem, vitae dapibus nibh facilisis a. Fusce in malesuada odio.</p>
<hr/>

<h2>Transculant Text</h2>
<p class="txt-transculant">Sample transculant/elipsis text with <b>.txt-transculant</b> class. Section intro goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque finibus condimentum nisl id vulputate. Praesent aliquet varius eros interdum suscipit. Donec eu purus sed nibh convallis bibendum quis vitae turpis. Duis vestibulum diam lorem, vitae dapibus nibh facilisis a. Fusce in malesuada odio.</p>  
<hr/>

<h2>Background Colors</h2>
<div class="mds-grid">
    <div class="g-m-25 g-s-50">
        <div class="surface-box bg-lighter"><!-- <b>TxT</b> --></div>
        <small>.bg-lighter</small>
    </div>
    <div class="g-m-25 g-s-50">
        <div class="surface-box bg"><!-- <b>TxT</b> --></div>
        <small>.bg</small>
    </div>
    <div class="g-m-25 g-s-50">
        <div class="surface-box bg-darker"><!-- <b>TxT</b> --></div>
        <small>.bg-darker</small>
    </div>
    <div class="g-m-25 g-s-50">
        <div class="surface-box bg-negative"><!-- <b>TxT</b> --></div>
        <small>.bg-negative</small>
    </div>
    <div class="g-m-25 g-s-50">
        <div class="surface-box bg-swatch-a"><!-- <b>TxT</b> --></div>
        <small>.bg-swatch-a</small>
    </div>
    <div class="g-m-25 g-s-50">
        <div class="surface-box bg-swatch-b"><!-- <b>TxT</b> --></div>
        <small>.bg-swatch-b</small>
    </div>
    <div class="g-m-25 g-s-50">
        <div class="surface-box bg-swatch-c"><!-- <b>TxT</b> --></div>
        <small>.bg-swatch-c</small>
    </div>
</div>
<hr/>

<h2>Text Colors</h2>
<div class="flex-horizontal fullfill-horizontal flex-nowarp">
    <div class="fullfill-horizontal">
        <p>Base Color</p>
        <ul>
            <li>Text withhout any class <i>(default body color)</i></li>
            <li class="txt-darker">Text with .txt-darker class <i>(h1-h5 use this color)</i></li>
            <li class="txt-lighter">Text with .txt-lighter class</li>
            <li class="txt-negative">Text with .txt-negative class</li>
        </ul>
    </div>
    <div class="fullfill-horizontal">
        <p>Color Scheme</p>
        <ul>
            <li class="txt-swatch-a">Text with .txt-swatch-a class</li>
            <li class="txt-swatch-b">Text with .txt-swatch-b class</li>
            <li class="txt-swatch-c">Text with .txt-swatch-c class</li>
            <li>Add your custom scheme color, <a routerLink="/introduction/color-scheme">step here</a></li>
        </ul>
    </div>
</div>
<hr/>

<h2>Buttons</h2>
<div class="flex-horizontal fullfill-horizontal flex-nowarp">
    <div class="fullfill-horizontal">
        <p>Normal</p>
        <ul>
            <li><button class="btn-swatch-reset" onclick="alert('Button clicked')">Reset Swatch</button> - <small>.btn-swatch-reset</small></li>
            <li><button onclick="alert('Button clicked')">Default</button> - <small>default no class</small></li>
            <li><button class="btn-swatch-negative" onclick="alert('Button clicked')">Negative</button> - <small>.btn-swatch-negative</small></li>
            <li><button class="btn-swatch-a" onclick="alert('Button clicked')">Swatch A</button> - <small>.btn-swatch-a</small></li>
            <li><button class="btn-swatch-b" onclick="alert('Button clicked')">Swatch B</button> - <small>.btn-swatch-b</small></li>
            <li><button class="btn-swatch-c" onclick="alert('Button clicked')">Swatch C (additional)</button> - <small>.btn-swatch-c</small></li>
        </ul>
        
    </div>
    <div class="fullfill-horizontal">
        <p>Disabled</p>
        <ul>
            <li><button class="btn-swatch-reset" onclick="alert('Button clicked')"disabled>Reset Swatch</button> - <small>.btn-swatch-reset</small></li>
            <li><button onclick="alert('Button clicked')" disabled>Default</button> - <small>(default no class)</small></li>
            <li><button class="btn-swatch-negative" onclick="alert('Button clicked')" disabled>Negative</button> - <small>.btn-swatch-negative</small></li>
            <li><button class="btn-swatch-a" onclick="alert('Button clicked')" disabled>Swatch A</button> - <small>.btn-swatch-a</small></li>
            <li><button class="btn-swatch-b" onclick="alert('Button clicked')" disabled>Swatch B</button> - <small>.btn-swatch-b</small></li>
            <li><button class="btn-swatch-c" onclick="alert('Button clicked')" disabled>Swatch C (additional)</button> - <small>.btn-swatch-c</small></li>
        </ul>
    </div>
</div>
<div class="fullfill-horizontal">
    <button class="btn-swatch-a" disabled><div class="loader"></div> Loading</button> - <small> (Sample loading button)</small><br/>
    Add your custom scheme color, <a routerLink="/introduction/color-scheme">step here</a>
</div>
<hr/>

<h2>List</h2>
<p>Section intro goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque finibus condimentum nisl id vulputate. Praesent aliquet varius eros interdum suscipit. Donec eu purus sed nibh convallis bibendum quis vitae turpis. Duis vestibulum diam lorem, vitae dapibus nibh facilisis a. Fusce in malesuada odio.</p>
<div class="flex-horizontal fullfill-horizontal flex-nowarp">
    <div class="fullfill-horizontal">
        <b>Unordered List Examples:</b>
        <ul>
            <li>Download lorem ipsum dolor sit amet.</li>
            <li>Click ipsum faucibus venenatis.</li>
            <li>Configure fermentum malesuada nunc.</li>
            <li>Deploy donec non ante libero.</li>
        </ul>
    </div>
    <div class="fullfill-horizontal">
        <b>Ordered List Examples:</b>
        <ol>
            <li>Download lorem ipsum dolor sit amet.</li>
            <li>Click ipsum faucibus venenatis.</li>
            <li>Configure fermentum malesuada nunc.</li>
            <li>Deploy donec non ante libero.</li>
        </ol>
    </div>
</div>
<hr/>

<h2>Grid System</h2>
<div class="mds-grid sample margin-t-1">
    <div class="g-s-50 g-l-25">1</div>
    <div class="g-s-50 g-l-75">2</div>
    <div class="g-l-50">3</div>
    <div class="g-l-50">4</div>
    <div class="g-l-25 g-m-50 g-s-25">5</div>
    <div class="g-l-25 g-m-50 g-s-25">6</div>
    <div class="g-l-25 g-m-50 g-s-25">7</div>
    <div class="g-l-25 g-m-50 g-s-25">8</div>
</div>
<a routerLink="/ui-elements/grid-system">More info</a>
<hr/>

<h2>Highlight</h2>
<p>Section intro goes here. Sampple Code <code class="command">npm install medes-ui</code> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque finibus condimentum nisl id vulputate.</p>
<blockquote class="margin-vertical-1">Section intro goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque finibus condimentum nisl id vulputate. Praesent aliquet varius eros interdum suscipit.</blockquote>
<blockquote class="success margin-b-1">Section intro goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque finibus condimentum nisl id vulputate. Praesent aliquet varius eros interdum suscipit.</blockquote>
<blockquote class="warning margin-b-1">Section intro goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque finibus condimentum nisl id vulputate. Praesent aliquet varius eros interdum suscipit.</blockquote>
<blockquote class="danger margin-b-1">Section intro goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque finibus condimentum nisl id vulputate. Praesent aliquet varius eros interdum suscipit.</blockquote>
<blockquote class="info margin-b-1">Section intro goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque finibus condimentum nisl id vulputate. Praesent aliquet varius eros interdum suscipit.</blockquote>
<hr/>

<h2>Form</h2>
<form autocomplete="off" style="max-width: 700px; margin: 0 auto;">
    <div class="x-100 flex-vertical">
        <div class="x-100 flex-horizontal flex-nowarp">
            <div class="x-100 margin-b-1 margin-r-1">
                <label class="txt-darker">First Name</label>
                <input class="x-100" type="text" placeholder="John" name="firstName" /> 
            </div>
            <div class="x-100 margin-b-1">
                <label class="txt-darker">Last Name</label>
                <input class="x-100" type="text" placeholder="Doe" name="lastName"/>
            </div>
        </div>
        <div class="p-relative x-100 margin-b-1">
            <label class="required txt-darker invalid">Company</label>
            <input class="x-100 invalid" type="text" placeholder="Google Inc" name="company" />
            <small class="txt-negative"><i>This field is required</i></small>
        </div>
        <div class="x-100 margin-b-1">
            <label class="txt-darker">Sample Disable</label>
            <input class="x-100" type="text" placeholder="Sample disabled" disabled/>
        </div>
        <div class="x-100 flex-horizontal flex-nowarp">
            <div class="x-100 margin-b-1 margin-r-1">
                <label class="txt-darker">Last Name</label>
                <select class="x-100" name="gender" >
                    <option>Male</option>
                    <option>Female</option>
                </select>
            </div>
            <div class="x-100 margin-b-1">
                <label class="txt-darker">Status</label>
                <select class="x-100" name="status" disabled>
                    <option>Single</option>
                    <option>Marriage</option>
                    <option>Divorce</option>
                </select>
            </div>
        </div>
        <div class="x-100 margin-b-1">
            <label class="required txt-darker">Message</label>
            <textarea class="x-100" placeholder="Type your message here" name="comment" required></textarea>
            <input class="x-100" id="aggrement" type="checkbox" name="aggree" required/> <label for="aggrement"> Im aggree with term and condition</label>
        </div>
        <div class="margin-b-1 flex-horizontal justify-between">
            <button class="btn-swatch-negative" type="reset">Reset</button>
            <input id="aggrement" type="color" value="#00FF00"/>
            <button class="btn-swatch-a" type="submit">Submit</button>
        </div>
    </div>
</form>
<hr/>

<h2>Responsive Table</h2>
<p>This table below is responsive. Try resize browser view to small width or open on smartphone the table will responsive.</p>
<table class="mds-table table-swatch-a">
    <tr>
        <th>Title 1</th><th>Title 2</th><th>Title 3</th>
    </tr>
    @for (item of [0,1,2]; track $index) {
        <tr>
            <td mds-th-title="Title 1">Content 1</td>
            <td mds-th-title="Title 2">Content 2</td>
            <td mds-th-title="Title 3">Content 3</td>
        </tr>
    }
</table>
<br/>
<table class="mds-table table-swatch-a">
    <tr>
        <th>Title 1</th><th>Title 2</th><th>Title 3</th>
    </tr>
    @for (item of [0,1,2]; track $index) {
        <tr>
            <td mds-th-title="Title 1">Content 1</td>
            <td mds-th-title="Title 2">Content 2</td>
            <td mds-th-title="Title 3">Content 3</td>
        </tr>
    }
</table>
<br/>
<table class="mds-table table-swatch-b">
    <tr>
        <th>Title 1</th><th>Title 2</th><th>Title 3</th>
    </tr>
    @for (item of [0,1,2]; track $index) {
        <tr>
            <td mds-th-title="Title 1">Content 1</td>
            <td mds-th-title="Title 2">Content 2</td>
            <td mds-th-title="Title 3">Content 3</td>
        </tr>
    }
</table>
<hr/>

<h2>Code Highlight</h2>
<div class="mds-grid">
    <div class="g-l-50">
        <b>HTML</b>
        <mds-hightlight-prism [code]="samplehtml" language="html"></mds-hightlight-prism>
        <b>CSS</b>
        <mds-hightlight-prism [code]="samplescss" language="css"></mds-hightlight-prism>
        <b>JavaScript</b>
        <mds-hightlight-prism [code]="samplejs" language="javascript"></mds-hightlight-prism>
    </div>
    <div class="g-l-50">
        <b>TypeScript</b>
        <mds-hightlight-prism [code]="samplets" language="javascript"></mds-hightlight-prism>
    </div>
</div>
<a routerLink="/angular-lib/prismjs-highlight">More info</a>
<hr/>

<h2>Image Loader</h2>
<div class="mds-grid margin-t-1">
    <div class="g-m-20 g-s-50">
        <div class="mds-img-loader square">
            <img src="https://www.mediadesain.com/assets/images/elements/office.jpg" alt="">
        </div>
    </div>
    <div class="g-m-20 g-s-50">
        <div class="mds-img-loader landscape">
            <img src="https://www.mediadesain.com/assets/images/elements/office.jpg" alt="">
        </div>
    </div>
    <div class="g-m-20 g-s-50">
        <div class="mds-img-loader portrait">
            <img src="https://www.mediadesain.com/assets/images/elements/office.jpg" alt="">
        </div>
    </div>
    <div class="g-m-20 g-s-50">
        <div class="mds-img-loader circle">
            <img src="https://www.mediadesain.com/assets/images/elements/office.jpg" alt="">
        </div>
    </div>
    <div class="g-m-20 g-s-50">
        <div class="mds-img-loader square">
            <img src="" alt="">
        </div>
        <small><i>*Sample no image</i></small>
    </div>
</div>
<a routerLink="/ui-elements/image-loader">More info</a>
<hr/>