<h1>Page Counter Component</h1>
<p>Set how many total item will shown</p>
<hr/>

<h2 class="m-y-b-1">Preview & Generate Component Configuration</h2>
<div class="mds-grid">
    <div class="g-m-100">
        <h3>Sample Data</h3>
        <div class="mds-grid p-y-1">
            @for (item of data | slice: pageNavConfig.data?.selectedRange.start:pageNavConfig.data?.selectedRange.end; track $index) {
                <div class="g-s-50 g-m-30 g-l-20">{{item}}</div>
            }
        </div>
    </div>
    <div class="g-m-50">
        <h3>Preview:</h3>
        <!-- Demo Medes Page Counter Component -->
        <small>Total Item </small>
        <mds-page-counter [(model)]="pageNavConfig" [customStyle]="'border-radius: 7px;'"></mds-page-counter>
    </div>
    <div class="g-m-50">
        <h3>Conifguration:</h3>
        <div class="x-100 flex-y">
            <div class="x-100 flex-x flex-nowarp">
                <div class="x-100 m-x-r-1">
                    <label class="txt-darker">Total Item to Show</label>
                    <select class="x-100" [ngModel]="pageNavConfig.configs.itemToShow" (ngModelChange)="pageNavConfig.configs.itemToShow = $event; componentCode = this.reGenerateCode()">
                        @for (option of pageNavConfig.configs.pageCounter.options; track $index) {
                            <option>{{option}}</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div>
            <input type="number" placeholder="70" ngModel #newOption="ngModel" />
            <button (click)="pageNavConfig.configs.pageCounter.options.push(newOption.value); componentCode = this.reGenerateCode()">Add option</button>
        </div>
        <div>
            @for (option of pageNavConfig.configs.pageCounter.options; track option; let i = $index) {
                <span>
                    {{option}} <small><a href="javascript:void(0)" (click)="pageNavConfig.configs.pageCounter.options.splice(i, 1)">✕</a></small>
                    {{pageNavConfig.configs.pageCounter.options.length - 1 === i ? '':','}}
                </span>
            }
            
        </div>
    </div>
</div>


<h2>Code</h2>
<div class="mds-grid">
    <div class="g-l-50">
        <b>Component</b>
        <mds-hightlight-prism [code]="componentCode" language="javascript"></mds-hightlight-prism>
    </div>
    <div class="g-l-50">
        <b>HTML</b>
        <mds-hightlight-prism [code]="htmlCode" language="html"></mds-hightlight-prism>
    </div>
</div>

<b>Properties</b>
<table class="table-properties mds-table table-swatch-a">
    <!--<span class=\'new-beadge m-x-l-1\'>New</span>-->
    <tr>
        <th style="width: 10%">Attribute</th><th style="width: 20%">Data Type</th><th style="width: 10%">Default</th><th style="width: 30%">Description</th><th style="width: 20%">Support Version</th>
    </tr>
    @for (item of tableContent; track $index) {
        <tr>
            <td mds-th-title="Attribute" [innerHTML]="item.attribute"></td>
            <td mds-th-title="Data Type">
                @if (item.type === 'PageNavigationManagerModel') {
                    <a (click)="openModal('my-modal-1')">{{item.type}}</a>
                } @else {
                    {{item.type}}
                }
            </td>
            <td mds-th-title="Default">{{item.default}}</td>
            <td mds-th-title="Description">{{item.description}}</td>
            <td mds-th-title="Support version" [innerHtml]="item.version"></td>
        </tr>
    }
</table>
<small>
<a href="javascript:void(0)" (click)="showDeprecated = !showDeprecated">{{!showDeprecated ? 'Show' : 'Hide'}} deprecated</a>
</small>
@if (showDeprecated) {
    <table class="table-properties mds-table">
        <!--<span class=\'new-beadge m-x-l-1\'>New</span>-->
        <tr>
            <th style="width: 10%">Attribute</th><th style="width: 20%">Data Type</th><th style="width: 10%">Default</th><th style="width: 30%">Description</th><th style="width: 20%">Support Version</th>
        </tr>
        @for (item of tableContentDeprecated; track $index) {
            <tr>
                <td mds-th-title="Attribute" class="deprecated" [innerHTML]="item.attribute"></td>
                <td mds-th-title="Data Type">
                    @if (item.type === 'PageNavigationModel') {
                        <strike>{{item.type}}</strike>
                    } @else {
                        {{item.type}}
                    }
                </td>
                <td mds-th-title="Default">{{item.default}}</td>
                <td mds-th-title="Description">{{item.description}}</td>
                <td mds-th-title="Support version" [innerHtml]="item.version"></td>
            </tr>
        }
    </table>
}
<br/><br/>

<small>
    <b>Notes:</b>
    <br/><i>? = Is optional value, if no value will use default value.</i>
    <br/><i>∞ = No default value, put anything base on type</i>
</small>

<mds-modal id="my-modal-1">
    <div class="modal-body p-1">
        <h3 class="p-y-b1">Interface Detail</h3>
        <mds-hightlight-prism [code]="interfaceCode" language="javascript"></mds-hightlight-prism>
        <button class="btn-swatch-a" (click)="expandCollapseModel()">{{!showFullInterfaceCode ? 'Show Full' : 'Minimum Config'}}</button>
    </div>
</mds-modal>
