<h1>Medes Navigation Manager Components</h1>
<p>Use page navigation manager components for paging items & set how many items will shown on the page. There are 2 categoires:</p>
<ul>
    <li>Filter Page Navigation Component <i><small>&lt;mds-page-navigation ... &gt;&lt;/mds-page-navigation&gt;</small></i></li>
    <li>Filter Page Counter Component <i><small>&lt;mds-page-counter ... &gt;&lt;/mds-page-counter&gt;</small></i></li>
</ul>
<p>Put sample data & configuration to component. Put configuration range start-end to splice array.</p>
<hr/>

<h2 class="m-y-b-1">Overview of Medes Navigation Manager Components</h2>
<p><b>Sample Data</b></p>
<div class="mds-grid p-y-b-1">
    @for (item of data | slice: pageNavModel.data?.selectedRange.start:pageNavModel.data?.selectedRange.end; track $index) {
        <div class="g-s-50 g-m-30 g-l-20">{{item}}</div>
    }
</div>

<p>Sample all of Page Manager components:</p>

<p><b>Page Navigation Component</b></p>
<div class="mds-grid">
    <div class="g-l-30">
        <!-- Demo Medes Page Navigation Component -->
        <mds-page-navigation [data]="data" [model]="pageNavModel"></mds-page-navigation>
    </div>
    <div class="g-l-70"><mds-hightlight-prism [code]="pageNavigationComponent" language="html"></mds-hightlight-prism></div>
    <div class="g-l-12"><small><a routerLink="/angular-lib/navigation-manager/page-navigation">More Info</a></small></div>
</div>
<hr/>

<p><b>Page Counter Component</b></p>
<div class="mds-grid">
    <div class="g-l-30">
        <!-- Demo Medes Page Counter Component -->
        <small>Total Item </small>
        <mds-page-counter [(model)]="pageNavModel"></mds-page-counter>
    </div>
    <div class="g-l-70"><mds-hightlight-prism [code]="pageCounterComponent" language="html"></mds-hightlight-prism></div>
    <div class="g-l-12"><small><a routerLink="/angular-lib/navigation-manager/page-counter">More Info</a></small></div>
</div>
<hr/>

<p><b>Output:</b></p>
<mds-hightlight-prism [code]="'
// Output filter data Object
this.pageNavModel.data = {
    selectedRange: {
        start: '+(pageNavModel.data?.selectedRange.start)+',
        end: '+(pageNavModel.data?.selectedRange.end)+'
    }
}
// Output data is useable for filering data item with MdsFilter like (*ngFor=\'let data of data | mdsFilterRange:param\')'" language="javascript"></mds-hightlight-prism>

Demo - Components, Pipes, Services <a routerLink="/angular-lib/demo">here</a>