<medes-alert-soon [version]="'v.0.0.3'"></medes-alert-soon>
<h1>Reset Filter Components</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque finibus condimentum nisl id vulputate. Praesent aliquet varius eros interdum suscipit. Donec eu purus sed nibh convallis bibendum quis vitae turpis.</p>

<div class="mds-grid">
    <div class="g-l-70">
        <b>HTML</b>
        <mds-hightlight-prism [code]="componentdemo" language="html"></mds-hightlight-prism>
    </div>
    <div class="g-l-30">
        <b>Output</b>
        <mds-filter-reset [content]="'Reset All'" [(filterSelected)]="selected"></mds-filter-reset>
    </div>
</div>
