<h1>Medes Form Components</h1>
<p>Addtional form field & advance form. There are 2 categoires:</p>
<ul>
    <li>Toggle Component <i><small>&lt;mds-toggle-button ... &gt;&lt;/mds-toggle-button&gt;</small></i></li>
    <li>Input Number Component <i><small>&lt;mds-input-number ... &gt;&lt;/mds-input-number&gt;</small></i></li>
</ul>
<p>Put sample data & configuration to component.</p>
<hr/>

<div class="flex-x justify-between align-middle m-y-b-1">
    <h2>Overview of Medes Form Components</h2>
    <h3 class="lib-type">
        <span [ngClass]="libraryTypeService.selected === 'angular' ? 'txt-swatch-a' : 'txt-lighter'" style="margin-right: 7px;">
            <i (click)="libraryTypeService.setType('angular')" class="fab fa-angular"></i>
        </span>
        <span [ngClass]="libraryTypeService.selected === 'react' ? 'txt-swatch-a' : 'txt-lighter'">
            <i (click)="libraryTypeService.setType('react')" class="fab fa-react"></i>
        </span>
    </h3>
</div>

<p>Sample all of Form components:</p>

<p><b>Toggle Component</b></p>
<div class="mds-grid">
    <div class="g-l-30">
        <!-- Medes Toggle Component -->
        <mds-toggle-button [(value)]="isActive"></mds-toggle-button>
    </div>
    <div class="g-l-70">
        @if (libraryTypeService.selected === 'angular') {
            <mds-hightlight-prism [code]="pageNavigationComponent" language="html"></mds-hightlight-prism>
        } @else {
            <mds-hightlight-prism [code]="jsxPageNavigationComponent" language="tsx"></mds-hightlight-prism>
        }
    </div>
    <div class="g-l-12"><small><a routerLink="/libraries/form-components/toggle">More Info</a></small></div>
</div>
<hr/>

<p><b>Input Number Component </b> <small><i>(Having masking sparator)</i></small></p>
<div class="mds-grid">
    <div class="g-l-30">
        <div class="flex-y">
            <div class="flex-y m-y-b-1">
                <label>Data Binding: </label>{{price}}
            </div>
            <!-- Medes Input Component -->
            <div class="flex-y">
                <label>Component </label>
                <mds-input-number [(value)]="price"></mds-input-number>
            </div>
        </div>
    </div>
    <div class="g-l-70"><mds-hightlight-prism [code]="pageCounterComponent" language="html"></mds-hightlight-prism></div>
    <div class="g-l-12"><small><a routerLink="/libraries/form-components/input-number">More Info</a></small></div>
</div>
<hr/>