<h1>Color Scheme and Theming</h1>
<p>Add your own color scheme.</p>
<hr/>

<h3 class="margin-b-1">Bundle Variable</h3>
<div class="mds-grid">
    <div class="g-s-50 g-m-25 txt-center">
        <div style="color: var(--body-txt);"><b>Sample Color</b></div>
        <small>--body-txt</small>
    </div>
    <div class="g-s-50 g-m-25 txt-center">
        <div style="color: var(--body-txt-darker);"><b>Sample Color</b></div>
        <small>--body-txt-darker</small>
    </div>
</div>

<b>Swatch A</b>
<div class="mds-grid">
    <div class="g-m-20 g-s-50">
        <div style="width: 50px;height: 50px;background: var(--swatch-a-transculant);"></div>
        <small>--swatch-a-transculant</small>
    </div>
    <div class="g-m-20 g-s-50">
        <div style="width: 50px;height: 50px;background: var(--swatch-a-lighter);"></div>
        <small>--swatch-a-lighter</small>
    </div>
    <div class="g-m-20 g-s-50">
        <div style="width: 50px;height: 50px;background: var(--swatch-a);"></div>
        <small>--swatch-a</small>
    </div>
    <div class="g-m-20 g-s-50">
        <div style="width: 50px;height: 50px;background: var(--swatch-a-darker);"></div>
        <small>--swatch-a-darker</small>
    </div>
    <div class="g-m-20 g-s-50">
        <div style="position: relative;width: 50px;height: 50px;background: var(--swatch-a-darker);color: var(--swatch-a-contrast);">
            <b style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);">TxT</b>
        </div>
        <small>--swatch-a-contrast</small>
    </div>
</div>
<b>Swatch B</b>
<div class="mds-grid">
    <div class="g-m-20 g-s-50">
        <div style="width: 50px;height: 50px;background: var(--swatch-b-transculant);"></div>
        <small>--swatch-b-transculant</small>
    </div>
    <div class="g-m-20 g-s-50">
        <div style="width: 50px;height: 50px;background: var(--swatch-b-lighter);"></div>
        <small>--swatch-b-lighter</small>
    </div>
    <div class="g-m-20 g-s-50">
        <div style="width: 50px;height: 50px;background: var(--swatch-b);"></div>
        <small>--swatch-b</small>
    </div>
    <div class="g-m-20 g-s-50">
        <div style="width: 50px;height: 50px;background: var(--swatch-b-darker);"></div>
        <small>--swatch-b-darker</small>
    </div>
    <div class="g-m-20 g-s-50">
        <div style="position: relative;width: 50px;height: 50px;background: var(--swatch-b-darker);">
            <b style="color: var(--swatch-b-contrast);position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);">TxT</b>
        </div>
        <small>--swatch-b-contrast</small>
    </div>
</div>
<hr/>

<h3 class="margin-b-1">Implementation</h3>
<div class="mds-grid">
    <div class="g-l-30">
        <b>Preview</b>
        <div style='background: var(--swatch-a); color: var(--swatch-a-contrast); padding: 0 1em;'>
            <p>Sample Text</p>
        </div>
    </div>
    <div class="g-l-70">
        <b>Code</b>
        <mds-hightlight-prism [code]="'
<div style=\'background: var(--swatch-a); color: var(--swatch-a-contrast);padding: 0 1em;\'>
    <p>Sample Text</p>
</div>'" language="html"></mds-hightlight-prism>
    </div>
</div>

<h3>Add Custom Color Scheme</h3>
<p>For adding custom color scheme make sure already import <b>medes-ui.scssa</b> & <b>ui-colorscheme.scss</b> to main style.scss as per <a routerLink="/introduction/how-to-install">installation step</a>. Open the <b>style.scss</b> itself. Add new styling file example <b>custom-color.scss</b> / <b>custom-color.css</b> on <i>./assets/style/custom-scheme.scss</i>. Then Customize your own color scheme and we provide color generator below. And put these color swatch variable code on light & dark mode.</p>
<b>style.scss</b>
<mds-hightlight-prism [code]="importCss" language="scss"></mds-hightlight-prism>
<b>custom-color.scss</b>
<mds-hightlight-prism [code]="customSchemeCss" language="scss"></mds-hightlight-prism>
<hr>

<h3 class="margin-horizontal-start1">Additinal Color Swatch Variable</h3>
<form #submition="ngForm" (ngSubmit)="generated(submition.value)">
    <div class="flex-horizontal margin-b-1">
        <input type="text" #swatchName="ngModel" name="name" ngModel="swatch-d">
        <input type="color" #swatchMain="ngModel" name="color" ngModel="#3898ff">
        <input type="color" #swatchMainContrast="ngModel" name="colorContrast" ngModel="#ffffff">
        <button type="submit">Generate</button>
    </div>
</form>
<b *ngIf="name">{{name|titlecase}}</b>
<div *ngIf="generate" class="mds-grid">
    <div class="g-m-20 g-s-50" *ngFor="let item of generate">
        <div style="position: relative;width: 50px;height: 50px;" [style.background]="item.value">
            <b *ngIf="item.color" [style.color]="item.color" style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);">TxT</b>
        </div>
        <small>{{item.key}}</small>
    </div>
</div>
<div *ngIf="output">
    <mds-hightlight-prism [code]="output" language="scss"></mds-hightlight-prism>
    <small><i>Copy custom swatch variables & classes to your custom style in sample case below <b>custom-color.scss</b>. Make sure on light & dark mode</i>.</small>
</div>