<h1>Color Scheme and Theming</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque finibus condimentum nisl id vulputate. Praesent aliquet varius eros interdum suscipit. Donec eu purus sed nibh convallis bibendum quis vitae turpis. Duis vestibulum diam lorem, vitae dapibus nibh facilisis a. Fusce in malesuada odio.</p>
<hr/>

<h3 class="margin-b-1">Bundle Variable</h3>
<div class="mds-grid">
    <div class="g-s-50 g-m-25 txt-center">
        <div style="color: var(--body-txt);"><b>Sample Color</b></div>
        <small>--body-txt</small>
    </div>
    <div class="g-s-50 g-m-25 txt-center">
        <div style="color: var(--body-txt-darker);"><b>Sample Color</b></div>
        <small>--body-txt-darker</small>
    </div>
</div>

<b>Swatch A</b>
<div class="mds-grid">
    <div class="g-m-20 g-s-50">
        <div style="width: 50px;height: 50px;background: var(--swatch-a-transculant);"></div>
        <small>--swatch-a-transculant</small>
    </div>
    <div class="g-m-20 g-s-50">
        <div style="width: 50px;height: 50px;background: var(--swatch-a-lighter);"></div>
        <small>--swatch-a-lighter</small>
    </div>
    <div class="g-m-20 g-s-50">
        <div style="width: 50px;height: 50px;background: var(--swatch-a);"></div>
        <small>--swatch-a</small>
    </div>
    <div class="g-m-20 g-s-50">
        <div style="width: 50px;height: 50px;background: var(--swatch-a-darker);"></div>
        <small>--swatch-a-darker</small>
    </div>
    <div class="g-m-20 g-s-50">
        <div style="position: relative;width: 50px;height: 50px;background: var(--swatch-a-darker);color: var(--swatch-a-contrast);">
            <b style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);">TxT</b>
        </div>
        <small>--swatch-a-contrast</small>
    </div>
</div>
<b>Swatch B</b>
<div class="mds-grid">
    <div class="g-m-20 g-s-50">
        <div style="width: 50px;height: 50px;background: var(--swatch-b-transculant);"></div>
        <small>--swatch-b-transculant</small>
    </div>
    <div class="g-m-20 g-s-50">
        <div style="width: 50px;height: 50px;background: var(--swatch-b-lighter);"></div>
        <small>--swatch-b-lighter</small>
    </div>
    <div class="g-m-20 g-s-50">
        <div style="width: 50px;height: 50px;background: var(--swatch-b);"></div>
        <small>--swatch-b</small>
    </div>
    <div class="g-m-20 g-s-50">
        <div style="width: 50px;height: 50px;background: var(--swatch-b-darker);"></div>
        <small>--swatch-b-darker</small>
    </div>
    <div class="g-m-20 g-s-50">
        <div style="position: relative;width: 50px;height: 50px;background: var(--swatch-b-darker);">
            <b style="color: var(--swatch-b-contrast);position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);">TxT</b>
        </div>
        <small>--swatch-b-contrast</small>
    </div>
</div>
<hr/>

<h3 class="margin-b-1">Implementation</h3>
<div class="mds-grid">
    <div class="g-l-30">
        <b>Preview</b>
        <div style='background: var(--swatch-a); color: var(--swatch-a-contrast); padding: 0 1em;'>
            <p>Sample Text</p>
        </div>
    </div>
    <div class="g-l-70">
        <b>Code</b>
        <mds-hightlight-prism [code]="'
<div style=\'background: var(--swatch-a); color: var(--swatch-a-contrast);padding: 0 1em;\'>
    <p>Sample Text</p>
</div>'" language="html"></mds-hightlight-prism>
    </div>
</div>

<h3>Installation Custom Color Scheme</h3>
<p>For custom color scheme no need import file <b>ui-colorscheme.scss</b> on <a routerLink="/introduction/how-to-install">installation step</a>. Create new stylesheet file and put on your folder, for example <b>src/assets/style/ui-colorscheme.scss</b>. And put these color swatch variable code to the file. And Customize your own color scheme and we provide color generator below.</p>
<b>ui-colorscheme.scss</b>
<mds-hightlight-prism [code]="'
/* Medes Theming & Color Swatch Variables
For more info, visit link below:
http://doc.mediadesain.com/introduction/color-scheme */

/*-- Light Mode --*/
:root {
    --body-bg-lighter: #fefefe;
    --body-bg: #ffffff;
    --body-bg-darker: #ffffff;
    --body-txt: #5d6778;
    --body-txt-darker: #484849;
    /*- Default Color Swatch -*/
    --swatch-a-transculant: rgb(139 197 63 / 30%);
    --swatch-a-lighter: #97cb52;
    --swatch-a: #8bc53f;
    --swatch-a-darker: #7cb530;
    --swatch-a-contrast: #ffffff;
    --swatch-b-transculant: rgba(253, 202, 48, 30%);
    --swatch-b-lighter: #fdc930;
    --swatch-b: #ffc107;
    --swatch-b-darker: #ecb305;
    --swatch-b-contrast: #ffffff;
    /* Custom Color Swatch */
}

/*-- Dark Mode --*/
@media (prefers-color-scheme: dark) {
    :root {
        --body-bg-lighter: #1c1c1c;
        --body-bg: #181818;
        --body-bg-darker: #121212;
        --body-txt: #cecece;
        --body-txt-darker: #f9f9f9;
        /*- Default Color Swatch -*/
        --swatch-a-transculant: rgb(139 197 63 / 10%);
        --swatch-a-lighter: #97cb52;
        --swatch-a: #8bc53f;
        --swatch-a-darker: #7cb530;
        --swatch-a-contrast: #ffffff;
        --swatch-b-transculant: rgba(253, 202, 48, 20%);
        --swatch-b-lighter: #fdc930;
        --swatch-b: #ffc107;
        --swatch-b-darker: #ecb305;
        --swatch-b-contrast: #ffffff;
        /*- Custom Color Swatch -*/
    }
}'" language="scss"></mds-hightlight-prism>
<hr>

<h3 class="margin-horizontal-start1">Additinal Color Swatch Variable</h3>
<form #submition="ngForm" (ngSubmit)="generated(submition.value)">
    <div class="flex-horizontal margin-b-1">
        <input type="text" #swatchName="ngModel" name="name" ngModel="swatch-c">
        <input type="color" #swatchMain="ngModel" name="color" ngModel="#8bc53f">
        <input type="color" #swatchMainContrast="ngModel" name="color-contrast" ngModel="#ffffff">
        <button type="submit">Generate</button>
    </div>
</form>
<b *ngIf="name">{{name|titlecase}}</b>
<div *ngIf="generate" class="mds-grid">
    <div class="g-m-20 g-s-50" *ngFor="let item of generate">
        <div style="position: relative;width: 50px;height: 50px;" [style.background]="item.value">
            <b *ngIf="item.color" [style.color]="item.color" style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);">TxT</b>
        </div>
        <small>{{item.key}}</small>
    </div>
</div>
<div *ngIf="output">
    <mds-hightlight-prism [code]="output" language="scss"></mds-hightlight-prism>
    <small><i>Copy custom swatch variable to <b>ui-colorscheme.scss</b></i></small>
</div>

<h3 class="margin-horizontal-start1">Include Custom Color Scheme</h3>
<mds-hightlight-prism [code]="'
/*-- MedesUI --*/
@import \'node_modules/medes-ui/assets/scss/medes-ui.scss\';
@import \'./assets/style/ui-colorscheme.scss\'; // Here is your custom your own color scheme'" language="scss"></mds-hightlight-prism>