<h1>Grid System</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque finibus condimentum nisl id vulputate. Praesent aliquet varius eros interdum suscipit. Donec eu purus sed nibh convallis bibendum quis vitae turpis. Duis vestibulum diam lorem, vitae dapibus nibh facilisis a. Fusce in malesuada odio.</p>
<hr/>

<h2 class="padding-b-1">Overview</h2>
<div class="mds-grid sample">
    <div class="g-s-50 g-l-25">1</div>
    <div class="g-s-50 g-l-75">2</div>
    <div class="g-l-50">3</div>
    <div class="g-l-50">4</div>
    <div class="g-l-25 g-m-50 g-s-25">5</div>
    <div class="g-l-25 g-m-50 g-s-25">6</div>
    <div class="g-l-25 g-m-50 g-s-25">7</div>
    <div class="g-l-25 g-m-50 g-s-25">8</div>
</div>
<hr/>


<h2 class="padding-b-1">Generator</h2>
<b>Preview:</b>
<div class="margin-b-1" style="height: 300px; border: 1px dashed rgb(100 100 100 / 40%);">
    <div [class]="'mds-grid '+ horizontalLayout.value +' '+verticalLayout.value+' sample'" style="height: 300px;">
        <div class="{{item1.value}}{{itemmed1.value === 'unset' ? '' : ' '+itemmed1.value}}{{itemsm1.value === 'unset' ? '' : ' '+itemsm1.value}}">1</div>
        <div class="{{item2.value}}{{itemmed2.value === 'unset' ? '' : ' '+itemmed2.value}}{{itemsm2.value === 'unset' ? '' : ' '+itemsm2.value}}">2</div>
        <div class="{{item3.value}}{{itemmed3.value === 'unset' ? '' : ' '+itemmed3.value}}{{itemsm3.value === 'unset' ? '' : ' '+itemsm3.value}}">3</div>
        <div class="{{item4.value}}{{itemmed4.value === 'unset' ? '' : ' '+itemmed4.value}}{{itemsm4.value === 'unset' ? '' : ' '+itemsm4.value}}">4</div>
        <div class="{{item5.value}}{{itemmed5.value === 'unset' ? '' : ' '+itemmed5.value}}{{itemsm5.value === 'unset' ? '' : ' '+itemsm5.value}}">5</div>
        <div class="{{item6.value}}{{itemmed6.value === 'unset' ? '' : ' '+itemmed6.value}}{{itemsm6.value === 'unset' ? '' : ' '+itemsm6.value}}">6</div>
    </div>
</div>


<div class="mds-grid">
    <div class="g-m-30">
        <b>Costumize:</b>
        <div class="fullfill-horizontal flex-vertical margin-b-1">
            <select #horizontalLayout="ngModel" ngModel="justify-center">
                <option>justify-start</option>
                <option>justify-center</option>
                <option>justify-right</option>
                <option>justify-around</option>
                <option>justify-between</option>
            </select>
            <select #verticalLayout="ngModel" ngModel="align-middle">
                <option>align-start</option>
                <option>align-middle</option>
                <option>align-end</option>
                <option>align-around</option>
                <option>align-between</option>
                <option>vertical-fullfill</option>
            </select>
        </div>
        <div class="fullfill-horizontal flex-vertical margin-b-1">
            <select #screen="ngModel" ngModel="large screen">
                <option *ngFor="let item of ['large screen', 'medium screen', 'small screen']">{{item}}</option>
            </select>
            <div [hidden]="screen.value !== 'large screen'">
                <div class="fullfill-horizontal flex-horizontal justify-between">
                    <small>Item 1</small>
                    <select #item1="ngModel" ngModel="g-l-50"><option *ngFor="let item of gridlarge">{{item}}</option></select>
                </div>
                <div class="fullfill-horizontal flex-horizontal justify-between">
                    <small>Item 2</small>
                    <select #item2="ngModel" ngModel="g-l-50"><option *ngFor="let item of gridlarge">{{item}}</option></select>
                </div>
                <div class="fullfill-horizontal flex-horizontal justify-between">
                    <small>Item 3</small>
                    <select #item3="ngModel" ngModel="g-l-50"><option *ngFor="let item of gridlarge">{{item}}</option></select>
                </div>
                <div class="fullfill-horizontal flex-horizontal justify-between">
                    <small>Item 4</small>
                    <select #item4="ngModel" ngModel="g-l-25"><option *ngFor="let item of gridlarge">{{item}}</option></select>
                </div>
                <div class="fullfill-horizontal flex-horizontal justify-between">
                    <small>Item 5</small>
                    <select #item5="ngModel" ngModel="g-l-25"><option *ngFor="let item of gridlarge">{{item}}</option></select>
                </div>
                <div class="fullfill-horizontal flex-horizontal justify-between">
                    <small>Item 6</small>
                    <select #item6="ngModel" ngModel="g-l-50"><option *ngFor="let item of gridlarge">{{item}}</option></select>
                </div>
            </div>
            <div [hidden]="screen.value !== 'medium screen'">
                <div class="fullfill-horizontal flex-horizontal justify-between">
                    <small>Item 1</small>
                    <select #itemmed1="ngModel" ngModel="g-m-25">
                        <option *ngFor="let item of gridmedium">{{item}}</option>
                    </select>
                </div>
                <div class="fullfill-horizontal flex-horizontal justify-between">
                    <small>Item 2</small>
                    <select #itemmed2="ngModel" ngModel="g-m-75"><option *ngFor="let item of gridmedium">{{item}}</option></select>
                </div>
                <div class="fullfill-horizontal flex-horizontal justify-between">
                    <small>Item 3</small>
                    <select #itemmed3="ngModel" ngModel="unset"><option *ngFor="let item of gridmedium">{{item}}</option></select>
                </div>
                <div class="fullfill-horizontal flex-horizontal justify-between">
                    <small>Item 4</small>
                    <select #itemmed4="ngModel" ngModel="g-m-50"><option *ngFor="let item of gridmedium">{{item}}</option></select>
                </div>
                <div class="fullfill-horizontal flex-horizontal justify-between">
                    <small>Item 5</small>
                    <select #itemmed5="ngModel" ngModel="g-m-25"><option *ngFor="let item of gridmedium">{{item}}</option></select>
                </div>
                <div class="fullfill-horizontal flex-horizontal justify-between">
                    <small>Item 6</small>
                    <select #itemmed6="ngModel" ngModel="g-m-25"><option *ngFor="let item of gridmedium">{{item}}</option></select>
                </div>
            </div>
            <div [hidden]="screen.value !== 'small screen'">
                <div class="fullfill-horizontal flex-horizontal justify-between">
                    <small>Item 1</small>
                    <select #itemsm1="ngModel" ngModel="unset"><option *ngFor="let item of gridsmall">{{item}}</option></select>
                </div>
                <div class="fullfill-horizontal flex-horizontal justify-between">
                    <small>Item 2</small>
                    <select #itemsm2="ngModel" ngModel="unset"><option *ngFor="let item of gridsmall">{{item}}</option></select>
                </div>
                <div class="fullfill-horizontal flex-horizontal justify-between">
                    <small>Item 3</small>
                    <select #itemsm3="ngModel" ngModel="g-s-50"><option *ngFor="let item of gridsmall">{{item}}</option></select>
                </div>
                <div class="fullfill-horizontal flex-horizontal justify-between">
                    <small>Item 4</small>
                    <select #itemsm4="ngModel" ngModel="g-s-50"><option *ngFor="let item of gridsmall">{{item}}</option></select>
                </div>
                <div class="fullfill-horizontal flex-horizontal justify-between">
                    <small>Item 5</small>
                    <select #itemsm5="ngModel" ngModel="unset"><option *ngFor="let item of gridsmall">{{item}}</option></select>
                </div>
                <div class="fullfill-horizontal flex-horizontal justify-between">
                    <small>Item 6</small>
                    <select #itemsm6="ngModel" ngModel="g-s-50"><option *ngFor="let item of gridsmall">{{item}}</option></select>
                </div>
            </div>
        </div>
    </div>

    <div class="g-m-70">
        <b>Code Preview:</b>
        <mds-hightlight-prism [code]="'
<!-- Grid Wrapper -->
<div class=\'mds-grid '+horizontalLayout.value+' '+verticalLayout.value+'\'>
    <!-- Grid Items Here-->
    <div class=\''+(item1.value)+(itemmed1.value==='unset'?'':' '+itemmed1.value)+(itemsm1.value==='unset'?'':' '+itemsm1.value)+'\'>1</div>
    <div class=\''+(item2.value)+(itemmed2.value==='unset'?'':' '+itemmed2.value)+(itemsm2.value==='unset'?'':' '+itemsm2.value)+'\'>1</div>
    <div class=\''+(item3.value)+(itemmed3.value==='unset'?'':' '+itemmed3.value)+(itemsm3.value==='unset'?'':' '+itemsm3.value)+'\'>1</div>
    <div class=\''+(item4.value)+(itemmed4.value==='unset'?'':' '+itemmed4.value)+(itemsm4.value==='unset'?'':' '+itemsm4.value)+'\'>1</div>
    <div class=\''+(item5.value)+(itemmed5.value==='unset'?'':' '+itemmed5.value)+(itemsm5.value==='unset'?'':' '+itemsm5.value)+'\'>1</div>
    <div class=\''+(item6.value)+(itemmed6.value==='unset'?'':' '+itemmed6.value)+(itemsm6.value==='unset'?'':' '+itemsm6.value)+'\'>1</div>
    ... <!-- Repeat Grid Items Here-->
</div>'" language="html"></mds-hightlight-prism>
    </div>
</div>

<h4 class="margin-t-1">Grid classes list</h4>
<table class="mds-table margin-b-1">
    <tr><th>Class name</th><th>Description</th></tr>
    <tr>
        <td mds-th-title="Class name">.mds-grid</td>
        <td mds-th-title="Description">Container of grid</td>
    </tr>
    <tr>
        <td mds-th-title="Class name">.g-l-*</td>
        <td mds-th-title="Description">Grid item size when screen is large like on laptop or monitor display (more than 768px)</td>
    </tr>
    <tr>
        <td mds-th-title="Class name">.g-m-*</td>
        <td mds-th-title="Description">Grid item size when screen is medium like tablet (more than 480px & less than 768px)</td>
    </tr>
    <tr>
        <td mds-th-title="Class name">.g-s-*</td>
        <td mds-th-title="Description">Grid item size when screen is small like on mobile phone (less than 480px)</td>
    </tr>
    <!-- <tr *ngFor="let item of flexDirection">
        <td mds-th-title="Class name">.{{item.value}}</td>
        <td mds-th-title="Description">{{item.label}}</td>
    </tr> -->
</table>
<p><small><i>Note: For * sizinng starting from 20 until 100, stepping 5 per grid item.</i></small></p>
<hr/>
<br/>

<h2>Sample</h2>
<b>Code Preview:</b>
<mds-hightlight-prism [code]="'
<div class=\'mds-grid justify-center align-middle\'>
    <div *ngFor=\'let item of items\' class=\'g-s-50 g-m-25 g-l-20\'>
        ...
    </div>
</div>'" language="html"></mds-hightlight-prism>
<p><small><i>Note: In this sample on big screen like laptop or monitor display more than 768px will showing 5 rows (20+20+20+20+20), on medim screen more than 480px & less than 768px will showing 4 rows (25+25+25+25) & on small screen like on mobile phone less than 480px will shwoing 2 rows (50+50). For justify-center, align-middle are sample of <a routerLink="/ui-boilerplate/layout-utils">layout utils</a>.</i></small></p>
<b>Result Preview:</b>
<div class="mds-grid justify-center align-middle">
    <div class="g-s-50 g-m-25 g-l-20" *ngFor="let item of sampledata|slice:0:14">
        <!-- Image with MedesUI Image Loader Element-->
        <div class="mds-img-loader square">
            <img [src]="item.picture" [alt]="item.name">
        </div>
        <small>{{item.brand}} - {{item.category}}</small><br/>
        <b>{{item.name}}</b>
    </div>
</div>
