<h1>Boilerplate Medes Doc</h1>
<p>Section intro goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque finibus condimentum nisl id vulputate. Praesent aliquet varius eros interdum suscipit. Donec eu purus sed nibh convallis bibendum quis vitae turpis. Duis vestibulum diam lorem, vitae dapibus nibh facilisis a. Fusce in malesuada odio.</p>
<hr/>
<h2>Paragraph</h2>
<p>Section <b>intro</b> goes here. <a href="">Lorem ipsum</a> dolor sit amet, <i>consectetur adipiscing</i> elit. Quisque finibus condimentum nisl id vulputate. Praesent aliquet varius eros interdum suscipit. Donec eu purus sed nibh convallis bibendum quis vitae turpis. Duis vestibulum diam lorem, vitae dapibus nibh facilisis a. Fusce in malesuada odio.</p>
<hr/>
<h2>List</h2>
<p>Section intro goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque finibus condimentum nisl id vulputate. Praesent aliquet varius eros interdum suscipit. Donec eu purus sed nibh convallis bibendum quis vitae turpis. Duis vestibulum diam lorem, vitae dapibus nibh facilisis a. Fusce in malesuada odio.</p>
<b>Unordered List Examples:</b>
<ul>
    <li>Download lorem ipsum dolor sit amet.</li>
    <li>Click ipsum faucibus venenatis.</li>
    <li>Configure fermentum malesuada nunc.</li>
    <li>Deploy donec non ante libero.</li>
</ul>
<b>Ordered List Examples:</b>
<ol>
    <li>Download lorem ipsum dolor sit amet.</li>
    <li>Click ipsum faucibus venenatis.</li>
    <li>Configure fermentum malesuada nunc.</li>
    <li>Deploy donec non ante libero.</li>
</ol>
<hr/>
<h2>Highlight</h2>
<p>Section intro goes here. Sampple Code <code class="command">npm install mds-ui</code> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque finibus condimentum nisl id vulputate. Praesent aliquet varius eros interdum suscipit. Donec eu purus sed nibh convallis bibendum quis vitae turpis. Duis vestibulum diam lorem, vitae dapibus nibh facilisis a. Fusce in malesuada odio.</p>
<b>HTML</b>
<div [innerHTML]="samplehtml"></div>
<b>CSS</b>
<div [innerHTML]="samplescss"></div>
<b>JavaScript</b>
<div [innerHTML]="samplejs"></div>
<b>TypeScript</b>
<div [innerHTML]="samplets"></div>
<hr/>
<h2>Table</h2>
<p>Section intro goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque finibus condimentum nisl id vulputate. Praesent aliquet varius eros interdum suscipit. Donec eu purus sed nibh convallis bibendum quis vitae turpis. Duis vestibulum diam lorem, vitae dapibus nibh facilisis a. Fusce in malesuada odio.</p>
<table class="ng-scope">
    <tr>
        <th>Title 1</th><th>Title 2</th><th>Title 3</th>
    </tr>
    <tr *ngFor="let i of [0,1,2,3,4]">
        <td mds-th-title="Title 1">Content 1</td>
        <td mds-th-title="Title 2">Content 2</td>
        <td mds-th-title="Title 3">Content 3</td>
    </tr>
    </table>
<hr/>

<mds-filter-checkbox
  class="d-flex flex-column"
  [titlegroup]="'Filter by'"
  [closegroup]="'✕'"
  [classgroup]="'mb-3'"
  [reset]="'Reset All'"
  [filterData]="sampledata"
  [filterBy]="['category','type']"
  [filterSelected]="filteritems"
>
</mds-filter-checkbox>
<hr/>

Filtered:
<pre *ngIf="(sampledata|filter:filteritems).length === 0 && (filteritems|json)=='{}'">No Data Found</pre>
<pre *ngIf="(sampledata|filter:filteritems).length === 0 && (filteritems|json)!='{}'">Filtered data not found</pre>
<ul *ngIf="(sampledata|filter:filteritems).length > 0">
  <li *ngFor="let item of (sampledata|filter:filteritems)">{{item.type}} - {{item.category}}</li>
</ul> 

<hr/>
Data:
<pre>{{sampledata|json}}</pre>
<br/>
Selected:
<pre>{{filteritems|json}}</pre>
