<medes-alert-soon [version]="'v.0.0.3'"></medes-alert-soon>
<h1>Medes Filter Components</h1>
<p>Multiple filter checkbox components is automatically generate HTML Element filter per group base on sampledata and props/keys & support url query param. There are 3 categoires:</p>
<ul>
    <li>Filter Checkbox Component <i><small>&lt;mds-filter-checkbox ... &gt;&lt;/mds-filter-checkbox&gt;</small></i></li>
    <li>Filter Swatch Component <i><small>&lt;mds-filter-swatch ... &gt;&lt;/mds-filter-swatch&gt;</small></i></li>
    <li>Reset Filter Component <i><small>&lt;mds-filter-reset ... &gt;&lt;/mds-filter-reset&gt;</small></i></li>
</ul>
<p>Put sample data, key to filter and selected filter object. Put selected filter object to *ngFor loop to filter pipe from medes-ui.</p>
<hr/>
<h2>Overview Components of Medes Filter</h2>
<b>Construct Filter Grup by sampledata & prop/key</b>
<div class="grid">
    <div class="g-l-30">
        <!-- Filter Checkboxes Component - Multiple Group -->
        <mds-filter-checkbox
            [titlegroup]="'Filter by'"
            [filterData]="sampledata"
            [filterBy]="['gender','category']"
            [filterSelected]="selected"
            [reset]="'✕'"
            [hideCounter]="false"
        ></mds-filter-checkbox>

        <!-- Filter Swatch Component - Multiple Group -->
        <mds-filter-swatch
            [titlegroup]="'Filter by Color'"
            [filterData]="sampledata"
            [filterSelected]="selected"
            [swatchMapping]="colormap"
        ></mds-filter-swatch>
        
        <!-- Filter Checkboxes Component - Single Group -->
        <mds-filter-checkbox
            [filterData]="sampledata"
            [filterBy]="['brand']"
            [filterSelected]="selected"
            [hideCounter]="false"
        ></mds-filter-checkbox>

        <!-- Reset Filter Component -->
        <mds-filter-reset [content]="'Reset All'" [(filterSelected)]="selected"></mds-filter-reset>
    </div>
    <div class="g-l-70">
        <small><mds-hightlight-prism [code]="components" language="html"></mds-hightlight-prism></small>
        <!-- <pre *ngIf="(sampledata|filter:selected).length === 0 && (selected|json)=='{}'">No Data Found</pre>
        <pre *ngIf="(sampledata|filter:selected).length === 0 && (selected|json)!='{}'">Filtered data not found</pre>
        <ul>
            <li *ngFor="let item of (sampledata|filter:selected)">
                {{item.name}} - {{item.brand}} - {{item.category}} <small>({{item.color}})</small>
            </li>
        </ul> -->
    </div>
    <div class="g-l-12">
        <i>Variable <b>sampledata</b> values is <a href="https://github.com/mediadesain/medes-ui-boilerplate/blob/main/src/app/shared/constant/proucts.ts">constant/proucts.ts</a>.</i>
    </div>
</div>


<b>Output</b>
<small><mds-hightlight-prism [code]="'// Output filter Object
selected ='+(selected|json)+'
// Output data values will use for filering on loop item (*ngFor) use filter pipe'" language="javascript"></mds-hightlight-prism></small>
<hr/>

<h2>How to Use</h2>
<h3>Import Medes Filter Module</h3>
<small><mds-hightlight-prism [code]="importmodule" language="typescript"></mds-hightlight-prism></small>
<br/>
