<h1>Swatch Components</h1>
<p>Filtering swatch box list will generated base on sample data, get from property key on Object list & put colors base on collected list.</p>
<hr/>

<h2 class="m-y-b-1">Preview & Generate Component Configuration</h2>
<div class="mds-grid">
    <div class="g-m-30">
        <h3>Preview:</h3>
        <!-- Filter Swatch Component -->
        <mds-filter-swatch id="color" [data]="sampledata" [model]="mdsFilterModel"></mds-filter-swatch>
        <small><i>Output Value: {{mdsFilterModel.data.filterSelected|json}}</i></small>
    </div>
    <div class="g-m-70">
        <h3>Conifguration:</h3>

        <div class="x-100 flex-x flex-nowarp">
            <div class="x-100 m-x-r-1">
                <label class="required txt-darker">Property</label>
                <input class="x-100" type="text" placeholder="Property key on data" [ngClass]="{'invalid': mdsFilterModel.configs.swatchBox.color.property.length === 0}" [ngModel]="mdsFilterModel.configs.swatchBox['color'].property" (ngModelChange)="updateProp($event)"/>
                @if (mdsFilterModel.configs.swatchBox.color.property.length === 0) {
                    <small class="txt-negative">
                        <i>This field is required</i>
                    </small><br/>
                }
                <small class="txt-lighter">Type color property on array. ex type: color, colour, warna</small>
            </div>
            <div class="x-100">
                <label class="txt-darker">Label</label>
                <input class="x-100" type="text" placeholder="Default: Color" [(ngModel)]="mdsFilterModel.configs.swatchBox.color.label"/>
            </div>
        </div>
        <div class="x-100 flex-x flex-nowarp">
            <div class="x-100 m-x-r-1">
                <label class="txt-darker">Size</label>
                <input class="x-100" type="number" placeholder="Default: 30" [(ngModel)]="mdsFilterModel.configs.swatchBox.color.swatchSize"/>
            </div>
            <div class="x-100 m-x-r-1">
                <label class="txt-darker">Border Radius</label>
                <input class="x-100" type="number" placeholder="Default: 25" [(ngModel)]="mdsFilterModel.configs.swatchBox.color.swatchRadius"/>
            </div>
            <div class="x-100">
                <label class="txt-darker">Reset Html Element</label>
                <input class="x-100" type="text" placeholder="html element" [(ngModel)]="mdsFilterModel.configs.swatchBox.color.resetElement"/>
            </div>
        </div>
    </div>
</div>


<div class="flex-x justify-between">
    <h3>Code Generate:</h3>
    <h3 class="lib-type">
        <span [style.color]="libraryTypeService.selected === 'angular' ? '#dd0031' : 'var(--body-txt-lighter)'" style="margin-right: 7px;">
            <i (click)="libraryTypeService.setType('angular')" class="fab fa-angular"></i>
        </span>
        <span [style.color]="libraryTypeService.selected === 'react' ? '#62dafb' : 'var(--body-txt-lighter)'">
            <i (click)="libraryTypeService.setType('react')" class="fab fa-react"></i>
        </span>
    </h3>
</div>

<div class="mds-grid">
    @if (libraryTypeService.selected === 'angular') {
        <div class="g-l-50">
            <b>mds-app.component.ts</b>
            <mds-hightlight-prism [code]="componentCode" language="javascript"></mds-hightlight-prism>
        </div>
        <div class="g-l-50">
            <b>mds-app.component.html</b>
            <mds-hightlight-prism [code]="htmlCode" language="html"></mds-hightlight-prism>
        </div>
    } @else {
        <div class="g-l-100">
            <blockquote class="info m-y-1">Component not available yet, will Available Soon</blockquote>
        </div>
    }
</div>
<p><i>Variable <b>sampledata</b> values is <a href="https://github.com/mediadesain/medes-ui-boilerplate/blob/main/src/app/shared/constant/products.ts">constant/proucts.ts</a>.</i></p>
<br/>

<b>Properties</b>
<table class="table-properties mds-table table-swatch-a">
    <!--<span class=\'new-beadge m-x-l-1\'>New</span>-->
    <tr>
        <th style="width: 10%">Attribute</th><th style="width: 20%">Data Type</th><th style="width: 10%">Default</th><th style="width: 30%">Description</th><th style="width: 20%">Support Version</th>
    </tr>
    @for (item of tableContent; track $index) {
        @if (libraryTypeService.selected === item.docType) {
            <tr>
                <td mds-th-title="Attribute" [innerHTML]="item.attribute"></td>
                <td mds-th-title="Data Type">
                    @if (item.type === 'MdsFilterModel') {
                        <a (click)="openModal('my-modal-1')">{{item.type}}</a>
                    } @else {
                        {{item.type}}
                    }
                </td>
                <td mds-th-title="Default">{{item.default}}</td>
                <td mds-th-title="Description">{{item.description}}</td>
                <td mds-th-title="Support version" [innerHtml]="item.version"></td>
            </tr>
        }
    }
</table>

@if (tableContentDeprecated.length > 0) {
    <small><a href="javascript:void(0)" (click)="showDeprecated = !showDeprecated">{{!showDeprecated ? 'Show' : 'Hide'}} deprecated</a></small>
    @if (showDeprecated) {
        <table class="table-properties mds-table">
            <!--<span class=\'new-beadge m-x-l-1\'>New</span>-->
            <tr>
                <th style="width: 10%">Attribute</th><th style="width: 20%">Data Type</th><th style="width: 10%">Default</th><th style="width: 30%">Description</th><th style="width: 20%">Support Version</th>
            </tr>
            @for (item of tableContentDeprecated; track $index) {
                <tr>
                    <td mds-th-title="Attribute" class="deprecated" [innerHTML]="item.attribute"></td>
                    <td mds-th-title="Data Type">
                        @if (item.type === 'SelectedFilterInterface') {
                            <strike>{{item.type}}</strike>
                        } @else {
                            {{item.type}}
                        }
                    </td>
                    <td mds-th-title="Default">{{item.default}}</td>
                    <td mds-th-title="Description">{{item.description}}</td>
                    <td mds-th-title="Support version" [innerHtml]="item.version"></td>
                </tr>
            }
        </table>
    }
    <br/><br/>
}

<small>
    <b>Notes:</b>
    <br/><i>? = Is optional value, if no value will use default value.</i>
    <br/><i>∞ = No default value, put anything base on type</i>
</small>

<mds-modal id="my-modal-1">
    <div class="modal-body p-1">
        <h3 class="p-y-b-1">Interface Detail</h3>
        <mds-hightlight-prism [code]="interfaceCode" language="javascript"></mds-hightlight-prism>
        <button class="btn-swatch-a m-y-b-1" (click)="expandCollapseModel()">{{!showFullInterfaceCode ? 'Show Full' : 'Minimum Config'}}</button>
    </div>
</mds-modal>