<h1>Swatch Components</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque finibus condimentum nisl id vulputate. Praesent aliquet varius eros interdum suscipit. Donec eu purus sed nibh convallis bibendum quis vitae turpis.</p>
<hr/>

<h2 class="margin-b-1">Preview & Generate Component Configuration</h2>
<div class="mds-grid">
    <div class="g-m-30">
        <h3>Preview:</h3>
        <!-- Medes Filter Swatch Component -->
        <!-- <mds-filter-swatch
            [filterData]="sampledata"
            [filterBy]="peropKey"
            [filterSelected]="selected"
            [swatchMapping]="colormap"
            [titlegroup]="label"
            [swatchSize]="totalSize"
            [swatchRadius]="totalRadius"
        ></mds-filter-swatch> -->
    </div>
    <div class="g-m-70">
        <h3>Conifguration:</h3>
        <div>
            <input type="text" placeholder="Property key on data" [ngClass]="{'invalid': peropKey.length === 0}" [(ngModel)]="peropKey"/>
            <small class="txt-lighter margin-l-1">Type color property on array. ex type: color, colour, warna</small>
            <br/>
            <input type="text" placeholder="Default: Color (titlegroup)" [(ngModel)]="label"/>
            <input type="number" placeholder="Default: 30 (swatchSize)" [(ngModel)]="totalSize"/>
            <input type="number" placeholder="Default: 25 (swatchRadius)" [(ngModel)]="totalRadius"/>
        </div>
    </div>
</div>


<h3>Code</h3>
<div class="mds-grid">
    <div class="g-l-30">
        <b>Module</b>
        <mds-hightlight-prism [code]="importModuleCode" language="javascript"></mds-hightlight-prism>
    </div>
    <div class="g-l-40">
        <b>Component</b>
        <mds-hightlight-prism [code]="componentCode" language="javascript"></mds-hightlight-prism>
    </div>
    <div class="g-l-30">
        <b>HTML</b>
        <mds-hightlight-prism [code]="htmlCode" language="html"></mds-hightlight-prism>
    </div>
</div>

<b>Properties</b>
<table class="table-properties mds-table table-swatch-a">
    <tr>
        <th style="width: 10%">Attribute</th><th style="width: 20%">Data Type</th><th style="width: 10%">Default</th><th style="width: 30%">Description</th><th style="width: 20%">Support Version</th>
    </tr>
    <tr *ngFor="let item of [
        {attribute: 'filterData', type: 'Array<any>', default: '∞', description: 'Sample data for create swatch filter', version: 'medes-ui@1.13.0 > Latest version'},
        {attribute: 'filterBy', type: 'string', default: '∞', description: 'Key/properties to filter', version: 'medes-ui@1.13.0 > Latest version'},
        {attribute: 'filterSelected', type: 'SelectedFilterInterface', default: '∞', description: 'List of selected filter', version: 'medes-ui@1.13.0 > Latest version'},
        {attribute: 'swatchMapping', type: 'Object of key values', default: '∞', description: 'Listing of key/prop and color hex value', version: 'medes-ui@1.13.0 > Latest version'},
        {attribute: 'titlegroup?', type: 'string', default: 'Color', description: 'Label text of swatch filter group', version: 'medes-ui@1.13.0 > Latest version'},
        {attribute: 'swatchSize?', type: 'number', default: '30', description: 'Size of weight & height', version: 'medes-ui@1.13.0 > Latest version'},
        {attribute: 'swatchRadius?', type: 'number', default: '0', description: 'Border radius size', version: 'medes-ui@1.13.0 > Latest version'}
    ]">
        <td mds-th-title="Attribute">{{item.attribute}}</td>
        <td mds-th-title="Data Type">{{item.type}}</td>
        <td mds-th-title="Default">{{item.default}}</td>
        <td mds-th-title="Description">{{item.description}}</td>
        <td mds-th-title="Support Version">{{item.version}}</td>
    </tr>
</table>
<small>
    <b>Notes:</b>
    <br/><i>? = Is optional value, if no value will use default value.</i>
    <br/><i>∞ = No default value, put anything base on type</i>
</small>