<h1>Color Utils</h1>
<p>Section intro goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque finibus condimentum nisl id vulputate. Praesent aliquet varius eros interdum suscipit. Donec eu purus sed nibh convallis bibendum quis vitae turpis. Duis vestibulum diam lorem, vitae dapibus nibh facilisis a. Fusce in malesuada odio.</p>
<hr/>

<b>Import MdsStringUtils:</b>
<mds-hightlight-prism [code]="import" language="typescript"></mds-hightlight-prism>
<br/>

<b>String utils details:</b>
<table class="mds-table">
    <tr>
        <th>Function and data Type</th><th>Data Type</th><th>Default Value</th><th>Description</th><th>Support Version</th>
    </tr>
    <tr *ngFor="let item of [
        {attribute: 'lowerCase( <b>string</b> )', 'value':'<ul><li>string</li></ul>', 'default': '∞', description: '<ul><li>Sample string to Lower Case</li></ul>', version: 'medes-ui@0.0.1 >'},
        {attribute: 'upperCase( <b>string</b> )', 'value':'<ul><li>string</li></ul>', 'default': '∞', description: '<ul><li>Sample string to Upper Case</li></ul>', version: 'medes-ui@0.0.1 >'},
        {attribute: 'titleCase( <b>string</b> )', 'value':'<ul><li>string</li></ul>', 'default': '∞', description: '<ul><li>Sample string to Title Case</li></ul>', version: 'medes-ui@0.0.1 >'},
        {attribute: 'pascalCase( <b>string</b> )', 'value':'<ul><li>string</li></ul>', 'default': '∞', description: '<ul><li>Sample string to Pascal Case</li></ul>', version: 'medes-ui@0.0.1 >'},
        {attribute: 'randomCharacter( <b>number</b> )', 'value':'<ul><li>number</li></ul>', 'default': '∞', description: '<ul><li>Total character to create randomstring</li></ul>', version: 'medes-ui@0.0.1 >'},
        {attribute: 'convertToSlug( <b>string</b> )', 'value':'<ul><li>string</li></ul>', 'default': '∞', description: '<ul><li>Sample string to convert as slug url</li></ul>', version: 'medes-ui@0.0.1 >'},
        {attribute: 'getYoutubeID( <b>string</b> )', 'value':'<ul><li>string of youtube url</li></ul>', 'default': '∞', description: '<ul><li>Youtube url to get Youtube ID</li></ul>', version: 'medes-ui@0.0.1 >'},
        {attribute: 'getYoutubeEmbed( <b>string</b> )', 'value':'<ul><li>string of youtube url</li></ul>', 'default': '∞', description: '<ul><li>Youtube url to get embed link</li></ul>', version: 'medes-ui@0.0.1 >'},
        {attribute: 'getYoutubeThumbnail( <b>string</b>, <b>string?</b> )', 'value':'<ul><li>string of youtube url</li><li>string of option:<br/><i>0 | 1 | 2 | 3 | default | sd1 | sd2 | sd3 | sddefault | mq1 | mq2 | mq3 | mqdefault | hq1 | hq2 | hq3 | hqdefault | hq720 | maxres1 | maxres2 | maxres3 | maxresdefault</i></li></ul>', 'default': '<ul><li>∞</li><li>\'hqdefault\'</li></ul>', description: '<ul><li>Youtube url to get image thumbnail link</li><li>Size of thumbnail</li></ul>', version: 'medes-ui@0.0.1 >'}
    ]">
        <td mds-th-title="Function"><span [innerHTML]="item.attribute"></span></td>
        <td mds-th-title="Data Type"><span [innerHTML]="item.value"></span></td>
        <td mds-th-title="Default Value"><span [innerHTML]="item.default"></span></td>
        <td mds-th-title="Description"><span [innerHTML]="item.description"></span></td>
        <td mds-th-title="Support Version"><span [innerHTML]="item.version"></span></td>
    </tr>
</table>
<small>
    <b>Notes:</b>
    <br/><i>? = Is optional value, if no value will use default value.</i>
    <br/><i>∞ = Anything base on type</i>
</small>
<hr/>

<b>Output:</b>
<mds-hightlight-prism [code]="demo" language="typescript"></mds-hightlight-prism>