<h1>Array Utils</h1>
<p>Section intro goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque finibus condimentum nisl id vulputate. Praesent aliquet varius eros interdum suscipit. Donec eu purus sed nibh convallis bibendum quis vitae turpis. Duis vestibulum diam lorem, vitae dapibus nibh facilisis a. Fusce in malesuada odio.</p>
<hr/>

<b>Import MdsArrayUtils:</b>
<mds-hightlight-prism [code]="import" language="javascript"></mds-hightlight-prism>
<br/>

<b>Array utils details:</b>
<table class="table-properties mds-table table-swatch-a">
    <!-- Table Header -->
    <tr>
        <th *ngFor="let row of tableHeader; let i = index" [style.width.%]="i === 1 ? '15' : '' || i === tableHeader.length - 1 ? '20' : ''" [title]="row.title">{{row.title}}</th>
    </tr>
    <!-- Table Content -->
    <tr *ngFor="let item of tableContent">
        <td *ngFor="let row of tableHeader" [attr.mds-th-title]="row.title" [innerHTML]="item[row.prop]"></td>
    </tr>
</table>

<small>
    <b>Notes:</b>
    <br/><i>? = Is optional value, if no value will use default value.</i>
    <br/><i>∞ = No default value, put anything base on type</i>
</small>
<hr/>

<b>Output:</b>
<mds-hightlight-prism [code]="demo" language="javascript"></mds-hightlight-prism>
<button (click)="downloadCsv()">Download CSV</button>

