<h1>Date Utils</h1>
<p>Section intro goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque finibus condimentum nisl id vulputate. Praesent aliquet varius eros interdum suscipit. Donec eu purus sed nibh convallis bibendum quis vitae turpis. Duis vestibulum diam lorem, vitae dapibus nibh facilisis a. Fusce in malesuada odio.</p>
<hr/>

<b>Import MdsNumberUtils:</b>
<mds-hightlight-prism [code]="import" language="typescript"></mds-hightlight-prism>
<br/>

<b>Object utils details:</b>
<table class="mds-table">
    <tr>
        <th>Function and data Type</th><th>Data Type</th><th>Default Value</th><th>Description</th>
    </tr>
    <tr *ngFor="let item of [{
        attribute: 'untilNow( <b>number</b>, <b>array?</b>, <b>string?</b> )',
        'value':'<ul><li>number*</li><li>array of string</li><li>string</li></ul>',
        default: '<ul><li>∞</li><li>[\'year\', \'month\', \'day\', \'hour\', \'minute\', \'second\']</li><li>\'ago\'</li></ul>',
        description: '<ul><li>Sample data timestamp</li><li>String of times.</li><li>Prefix</li></ul>'
    }]">
        <td mds-th-title="Function"><span [innerHTML]="item.attribute"></span></td>
        <td mds-th-title="Data Type"><span [innerHTML]="item.value"></span></td>
        <td mds-th-title="Default Value"><span [innerHTML]="item.default"></span></td>
        <td mds-th-title="Description"><span [innerHTML]="item.description"></span></td>
    </tr>
</table>
<small>
    <b>Notes:</b>
    <br/><i>? = Is optional value, if no value will use default value.</i>
    <br/><i>∞ = Anything base on type</i>
</small>
<hr/>

<b>Output:</b>
<mds-hightlight-prism [code]="demo" language="typescript"></mds-hightlight-prism>

