<medes-alert-soon [version]="'v.0.0.3'"></medes-alert-soon>
<h1>Swatch Components</h1>
<h3>Filter Swatch Component</h3>
<div class="grid">
    <div class="g-l-12">
        <b>Component</b>
        <small><mds-hightlight-prism [code]="samplecomponent" language="typescript"></mds-hightlight-prism></small>
    </div>
    <div class="g-l-70">
        <b>HTML</b>
        <small><mds-hightlight-prism [code]="componentdemo" language="html"></mds-hightlight-prism></small>
    </div>
    <div class="g-l-30">
        <b>Output</b>
        <mds-filter-swatch
            [titlegroup]="'Filter by Color'"
            [filterData]="sampledata"
            [filterSelected]="selected"
            [swatchMapping]="colormap"
        ></mds-filter-swatch>
    </div>
</div>

<b>Properties</b>
<table>
    <tr>
        <th>Attribute</th><th>Data Type</th><th>Default</th><th>Description</th>
    </tr>
    <tr *ngFor="let item of [
        {'attribute':'titlegroup', 'type':'String', 'default':'Color', 'description':'Label text of swatch filter group'},
        {'attribute':'filterData*', 'type':'Array', 'default':'~', 'description':'Sample data for create swatch filter'},
        {'attribute':'filterSelected*', 'type':'Object', 'default':'~', 'description':'List of selected filter'},
        {'attribute':'swatchMapping*', 'type':'Object of key values', 'default':'~', 'description':'Listing of key/prop and color hex value'}
    ]">
        <td mds-th-title="Attribute">{{item.attribute}}</td>
        <td mds-th-title="Data Type">{{item.type}}</td>
        <td mds-th-title="Default">{{item.default}}</td>
        <td mds-th-title="Description">{{item.description}}</td>
    </tr>
</table>