<h1>Object Utils</h1>
<p>Section intro goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque finibus condimentum nisl id vulputate. Praesent aliquet varius eros interdum suscipit. Donec eu purus sed nibh convallis bibendum quis vitae turpis. Duis vestibulum diam lorem, vitae dapibus nibh facilisis a. Fusce in malesuada odio.</p>
<hr/>

<b>Import MdsObjectUtils:</b>
<small><mds-hightlight-prism [code]="import" language="typescript"></mds-hightlight-prism></small>
<br/>

<b>Object utils details:</b>
<table>
    <tr>
        <th>Function and data Type</th><th>Detail Value</th><th>Default Value</th><th>Description</th>
    </tr>
    <tr *ngFor="let item of [
        {'attribute':'removeKeysIfEmpty( <b>object</b> )', 'value': 'Object', 'default': '~', 'description':'Object prop/key will delete if there is no value <i>(undefined, null, empty string)</i>.'}
    ]">
        <td mds-th-title="Function"><span [innerHTML]="item.attribute"></span></td>
        <td mds-th-title="Detail Value"><span [innerHTML]="item.value"></span></td>
        <td mds-th-title="Detail Value"><span [innerHTML]="item.default"></span></td>
        <td mds-th-title="Description"><span [innerHTML]="item.description"></span></td>
    </tr>
</table>
<small>
    <b>Notes:</b><br/><i>? = Is optional value, if no value will use default value.</i>
</small>
<hr/>

<b>Output:</b>
<small><mds-hightlight-prism [code]="demo" language="typescript"></mds-hightlight-prism></small>
