<h1>Reset Filter Components</h1>
<p>Reset all applied filter with reset filter component</p>
<hr/>

<div class="mds-grid">
    <div class="g-l-30">
        <b>Output</b>
        <!-- Reset Filter Component -->
        <mds-filter-reset customClass="btn-swatch-a" [(model)]="mdsFilterModel">Reset All</mds-filter-reset>
    </div>
    <div class="g-l-70">
        <b>HTML</b>
        <mds-hightlight-prism [code]="htmlCode" language="html"></mds-hightlight-prism>
    </div>
</div>

<b>Properties</b>
<table class="table-properties mds-table table-swatch-a">
    <!--<span class=\'new-beadge m-x-l-1\'>New</span>-->
    <tr>
        <th style="width: 10%">Attribute</th><th style="width: 20%">Data Type</th><th style="width: 10%">Default</th><th style="width: 30%">Description</th><th style="width: 20%">Support Version</th>
    </tr>
    @for (item of tableContent; track $index) {
        <tr>
            <td mds-th-title="Attribute" [innerHTML]="item.attribute"></td>
            <td mds-th-title="Data Type">
                @if (item.type === 'MdsFilterModel') {
                    <a (click)="openModal('my-modal-1')">{{item.type}}</a>
                } @else {
                    {{item.type}}
                }
            </td>
            <td mds-th-title="Default">{{item.default}}</td>
            <td mds-th-title="Description">{{item.description}}</td>
            <td mds-th-title="Support version" [innerHtml]="item.version"></td>
        </tr>
    }
</table>
<small>
<a href="javascript:void(0)" (click)="showDeprecated = !showDeprecated">{{!showDeprecated ? 'Show' : 'Hide'}} deprecated</a>
</small>
@if (showDeprecated) {
    <table class="table-properties mds-table">
        <!--<span class=\'new-beadge m-x-l-1\'>New</span>-->
        <tr>
            <th style="width: 10%">Attribute</th><th style="width: 20%">Data Type</th><th style="width: 10%">Default</th><th style="width: 30%">Description</th><th style="width: 20%">Support Version</th>
        </tr>
        @for (item of tableContentDeprecated; track $index) {
            <tr>
                <td mds-th-title="Attribute" class="deprecated" [innerHTML]="item.attribute"></td>
                <td mds-th-title="Data Type">
                    @if (item.type === 'SelectedFilterInterface' || item.type === 'SelectedFilterSliderInterface') {
                        <strike>{{item.type}}</strike>
                    } @else {
                        {{item.type}}
                    }
                </td>
                <td mds-th-title="Default">{{item.default}}</td>
                <td mds-th-title="Description">{{item.description}}</td>
                <td mds-th-title="Support version" [innerHtml]="item.version"></td>
            </tr>
        }
    </table>
}
<br/><br/>

<small>
    <b>Notes:</b>
    <br/><i>? = Is optional value, if no value will use default value.</i>
    <br/><i>∞ = No default value, put anything base on type</i>
</small>

<mds-modal id="my-modal-1">
    <div class="modal-body p-1">
        <h3 class="p-y-b1">Interface Detail</h3>
        <mds-hightlight-prism [code]="interfaceCode" language="javascript"></mds-hightlight-prism>
        <button class="btn-swatch-a" (click)="expandCollapseModel()">{{!showFullInterfaceCode ? 'Show Full' : 'Minimum Config'}}</button>
    </div>
</mds-modal>