/*-- MedesUI --*/
@import "../node_modules/medes-ui/assets/scss/medes-ui";
@import "../node_modules/medes-ui/assets/scss/ui-colorscheme";
/*-- Medes Team Only --*/
// @import "../projects/medes-ui/assets/scss/medes-ui";
// @import "../projects/medes-ui/assets/scss/ui-colorscheme";

@import "../node_modules/prismjs/themes/prism-okaidia.min";

/*-- Custom Style for Documentation--*/
@import "../node_modules/medes-ui/assets/scss/layouts/documentation";
/*-- Medes Team Only --*/
// @import "../projects/medes-ui/assets/scss/layouts/documentation";
navbar .logo, mds-navbar .logo { background-image: url('./assets/images/medes-ui.png'); }
@media (prefers-color-scheme: dark) {
    mds-navbar .logo { background-image: url('./assets/images/medes-ui-dark.png'); }
}
