/*-- MedesUI --*/
/*-public-*/ @import "../node_modules/@mediadesain/core/assets/scss/medes-ui";
/*-public-*/ @import "../node_modules/@mediadesain/core/assets/scss/ui-colorscheme";
//*-private-*/ @import "../projects/medes-ui/assets/scss/medes-ui";
//*-private-*/ @import "../projects/medes-ui/assets/scss/ui-colorscheme";

/*-- Custom Scheme --*/
// Add your own custom color scheme - https://doc.mediadesain.com/introduction/color-scheme
@import "./assets/style/custom-scheme.scss"; // Custom color scheme

/*-- PrismJs --*/
@import "../node_modules/prismjs/themes/prism.min.css";
pre[class*=language-] {
    transition: 0.7s ease-in-out;
    // span {transition: 1.7s ease-in-out;}
    .token.operator {background-color: unset}
}
@media (prefers-color-scheme: dark) {
    /*:root {} - if manual mode theming dont have togle light/dark*/
    body.dark-mode {
        @import "../node_modules/prismjs/themes/prism-okaidia.min";
        pre[class*=language-] {
            font-size: small;
            padding: 0 1em;
        }
        code.language-javascript, code.language-tsx {color: #2df49f;}
    }
}


/*-- Custom Style for Documentation--*/
@import "./assets/style/custom-style-doc.scss";
