<h1>Number Utils</h1>
<p>Collection of utils helper for number.</p>
<hr/>

<b>Import MdsNumberUtils:</b>
<mds-hightlight-prism [code]="import" language="javascript"></mds-hightlight-prism>
<br/>

<b>Number utils details:</b>
<table class="table-properties mds-table table-swatch-a">
    <!-- Table Header -->
    <tr>
        @for (row of tableHeader; track row; let i = $index) {
            <th [style.width.%]="i === 1 ? '15' : '' || i === tableHeader.length - 1 ? '20' : ''" [title]="row.title">{{row.title}}</th>
        }
    </tr>
    <!-- Table Content -->
    @for (item of tableContent; track $index) {
        @if (libraryTypeService.selected === item.docType) {
                <tr>
                @for (row of tableHeader; track $index) {
                    <td [attr.mds-th-title]="row.title" [innerHTML]="item[row.prop]"></td>
                }
            </tr>
        }
    }
</table>

<small>
    <b>Notes:</b>
    <br/><i>? = Is optional value, if no value will use default value.</i>
    <br/><i>∞ = No default value, put anything base on type</i>
</small>
<hr/>

<b>Output:</b>
<mds-hightlight-prism [code]="demo" language="javascript"></mds-hightlight-prism>