<h1>How to Install</h1>
<p>Instalation step.</p>
<hr/>
<h3>Follow these step to install MedesUI Library on your project.</h3>
<ol>
    <li>Make sure <a href="https://nodejs.org/" target="_blank">node.js</a> installed on your computer.</li>
    <li>Select or cd project want to instal the library. Run on terminal/cmd <code class="command">npm install medes-ui</code>.</li>
    <li>Import all of medes-ui stylesheets by following these steps:
        <ul>
            <li>Import <i>medes-ui.scss</i> & <i>ui-colorscheme.scss</i> stylesheet on main <i>styles.scss</i>.
                <mds-hightlight-prism [code]="importCss" language="scss"></mds-hightlight-prism>
            </li>
        </ul>
        <blockquote class="info margin-vertical-1">
            <i>Documentation for creating your own color scheme <a routerLink="/introduction/color-scheme">click here</a>.</i>
        </blockquote>
    </li>
</ol>